<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="t_tipopersonal" >
  <resultMap id="BaseResultMap" type="pe.com.j2techcon.bi.etl.domain.origen.TTipopersonal" >
    <id column="codtipopersonal" property="codtipopersonal" jdbcType="CHAR" />
    <result column="tipopersonal" property="tipopersonal" jdbcType="VARCHAR" />
    <result column="usuario" property="usuario" jdbcType="CHAR" />
    <result column="fecha" property="fecha" jdbcType="TIMESTAMP" />
    <result column="usuariomod" property="usuariomod" jdbcType="CHAR" />
    <result column="fechamod" property="fechamod" jdbcType="TIMESTAMP" />
    <result column="anulado" property="anulado" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    codtipopersonal, tipopersonal, usuario, fecha, usuariomod, fechamod, anulado
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.j2techcon.bi.etl.domain.origen.TTipopersonalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_tipopersonal
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="paginationByClause != null" >
      ${paginationByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_tipopersonal
    where codtipopersonal = #{codtipopersonal,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_tipopersonal
    where codtipopersonal = #{codtipopersonal,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="pe.com.j2techcon.bi.etl.domain.origen.TTipopersonalExample" >
    delete from t_tipopersonal
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.j2techcon.bi.etl.domain.origen.TTipopersonal" >
    insert into t_tipopersonal (codtipopersonal, tipopersonal, usuario, 
      fecha, usuariomod, fechamod, 
      anulado)
    values (#{codtipopersonal,jdbcType=CHAR}, #{tipopersonal,jdbcType=VARCHAR}, #{usuario,jdbcType=CHAR}, 
      #{fecha,jdbcType=TIMESTAMP}, #{usuariomod,jdbcType=CHAR}, #{fechamod,jdbcType=TIMESTAMP}, 
      #{anulado,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="pe.com.j2techcon.bi.etl.domain.origen.TTipopersonal" >
    insert into t_tipopersonal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="codtipopersonal != null" >
        codtipopersonal,
      </if>
      <if test="tipopersonal != null" >
        tipopersonal,
      </if>
      <if test="usuario != null" >
        usuario,
      </if>
      <if test="fecha != null" >
        fecha,
      </if>
      <if test="usuariomod != null" >
        usuariomod,
      </if>
      <if test="fechamod != null" >
        fechamod,
      </if>
      <if test="anulado != null" >
        anulado,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="codtipopersonal != null" >
        #{codtipopersonal,jdbcType=CHAR},
      </if>
      <if test="tipopersonal != null" >
        #{tipopersonal,jdbcType=VARCHAR},
      </if>
      <if test="usuario != null" >
        #{usuario,jdbcType=CHAR},
      </if>
      <if test="fecha != null" >
        #{fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="usuariomod != null" >
        #{usuariomod,jdbcType=CHAR},
      </if>
      <if test="fechamod != null" >
        #{fechamod,jdbcType=TIMESTAMP},
      </if>
      <if test="anulado != null" >
        #{anulado,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.j2techcon.bi.etl.domain.origen.TTipopersonalExample" resultType="java.lang.Integer" >
    select count(*) from t_tipopersonal
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_tipopersonal
    <set >
      <if test="record.codtipopersonal != null" >
        codtipopersonal = #{record.codtipopersonal,jdbcType=CHAR},
      </if>
      <if test="record.tipopersonal != null" >
        tipopersonal = #{record.tipopersonal,jdbcType=VARCHAR},
      </if>
      <if test="record.usuario != null" >
        usuario = #{record.usuario,jdbcType=CHAR},
      </if>
      <if test="record.fecha != null" >
        fecha = #{record.fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usuariomod != null" >
        usuariomod = #{record.usuariomod,jdbcType=CHAR},
      </if>
      <if test="record.fechamod != null" >
        fechamod = #{record.fechamod,jdbcType=TIMESTAMP},
      </if>
      <if test="record.anulado != null" >
        anulado = #{record.anulado,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_tipopersonal
    set codtipopersonal = #{record.codtipopersonal,jdbcType=CHAR},
      tipopersonal = #{record.tipopersonal,jdbcType=VARCHAR},
      usuario = #{record.usuario,jdbcType=CHAR},
      fecha = #{record.fecha,jdbcType=TIMESTAMP},
      usuariomod = #{record.usuariomod,jdbcType=CHAR},
      fechamod = #{record.fechamod,jdbcType=TIMESTAMP},
      anulado = #{record.anulado,jdbcType=SMALLINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.com.j2techcon.bi.etl.domain.origen.TTipopersonal" >
    update t_tipopersonal
    <set >
      <if test="tipopersonal != null" >
        tipopersonal = #{tipopersonal,jdbcType=VARCHAR},
      </if>
      <if test="usuario != null" >
        usuario = #{usuario,jdbcType=CHAR},
      </if>
      <if test="fecha != null" >
        fecha = #{fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="usuariomod != null" >
        usuariomod = #{usuariomod,jdbcType=CHAR},
      </if>
      <if test="fechamod != null" >
        fechamod = #{fechamod,jdbcType=TIMESTAMP},
      </if>
      <if test="anulado != null" >
        anulado = #{anulado,jdbcType=SMALLINT},
      </if>
    </set>
    where codtipopersonal = #{codtipopersonal,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.com.j2techcon.bi.etl.domain.origen.TTipopersonal" >
    update t_tipopersonal
    set tipopersonal = #{tipopersonal,jdbcType=VARCHAR},
      usuario = #{usuario,jdbcType=CHAR},
      fecha = #{fecha,jdbcType=TIMESTAMP},
      usuariomod = #{usuariomod,jdbcType=CHAR},
      fechamod = #{fechamod,jdbcType=TIMESTAMP},
      anulado = #{anulado,jdbcType=SMALLINT}
    where codtipopersonal = #{codtipopersonal,jdbcType=CHAR}
  </update>
</mapper>