<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.j2techcon.bi.etl.dao.dimensional.FactEnvioMapper" >
  <resultMap id="BaseResultMap" type="pe.com.j2techcon.bi.etl.domain.dimensional.FactEnvio" >
    <id column="envio_key" property="envioKey" jdbcType="INTEGER" />
    <result column="envio_key_cliente_area" property="envioKeyClienteArea" jdbcType="INTEGER" />
    <result column="envio_key_servicio" property="envioKeyServicio" jdbcType="INTEGER" />
    <result column="envio_key_producto" property="envioKeyProducto" jdbcType="INTEGER" />
    <result column="envio_key_zona" property="envioKeyZona" jdbcType="INTEGER" />
    <result column="envio_key_personal" property="envioKeyPersonal" jdbcType="INTEGER" />
    <result column="envio_key_fec_sal" property="envioKeyFecSal" jdbcType="INTEGER" />
    <result column="envio_key_fec_retp" property="envioKeyFecRetp" jdbcType="INTEGER" />
    <result column="envio_key_fec_retr" property="envioKeyFecRetr" jdbcType="INTEGER" />
    <result column="envio_key_estado" property="envioKeyEstado" jdbcType="INTEGER" />
    <result column="envio_ind_unidad" property="envioIndUnidad" jdbcType="SMALLINT" />
    <result column="envio_ind_ent" property="envioIndEnt" jdbcType="SMALLINT" />
    <result column="envio_ind_mot" property="envioIndMot" jdbcType="SMALLINT" />
    <result column="envio_ind_ree" property="envioIndRee" jdbcType="SMALLINT" />
    <result column="envio_ind_anu" property="envioIndAnu" jdbcType="SMALLINT" />
    <result column="envio_ind_fue_zon" property="envioIndFueZon" jdbcType="SMALLINT" />
    <result column="envio_ind_perd" property="envioIndPerd" jdbcType="SMALLINT" />
    <result column="envio_ind_dig" property="envioIndDig" jdbcType="SMALLINT" />
    <result column="envio_ind_rut" property="envioIndRut" jdbcType="SMALLINT" />
    <result column="envio_ind_pro" property="envioIndPro" jdbcType="SMALLINT" />
    <result column="envio_ind_rob" property="envioIndRob" jdbcType="SMALLINT" />
    <result column="proc_id" property="procId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    envio_key, envio_key_cliente_area, envio_key_servicio, envio_key_producto, envio_key_zona, 
    envio_key_personal, envio_key_fec_sal, envio_key_fec_retp, envio_key_fec_retr, envio_key_estado, 
    envio_ind_unidad, envio_ind_ent, envio_ind_mot, envio_ind_ree, envio_ind_anu, envio_ind_fue_zon, 
    envio_ind_perd, envio_ind_dig, envio_ind_rut, envio_ind_pro, envio_ind_rob, proc_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.FactEnvioExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fact_envio
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="paginationByClause != null" >
      ${paginationByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fact_envio
    where envio_key = #{envioKey,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fact_envio
    where envio_key = #{envioKey,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.FactEnvioExample" >
    delete from fact_envio
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.FactEnvio" >
    insert into fact_envio (envio_key, envio_key_cliente_area, envio_key_servicio, 
      envio_key_producto, envio_key_zona, envio_key_personal, 
      envio_key_fec_sal, envio_key_fec_retp, envio_key_fec_retr, 
      envio_key_estado, envio_ind_unidad, envio_ind_ent, 
      envio_ind_mot, envio_ind_ree, envio_ind_anu, 
      envio_ind_fue_zon, envio_ind_perd, envio_ind_dig, 
      envio_ind_rut, envio_ind_pro, envio_ind_rob, 
      proc_id)
    values (#{envioKey,jdbcType=INTEGER}, #{envioKeyClienteArea,jdbcType=INTEGER}, #{envioKeyServicio,jdbcType=INTEGER}, 
      #{envioKeyProducto,jdbcType=INTEGER}, #{envioKeyZona,jdbcType=INTEGER}, #{envioKeyPersonal,jdbcType=INTEGER}, 
      #{envioKeyFecSal,jdbcType=INTEGER}, #{envioKeyFecRetp,jdbcType=INTEGER}, #{envioKeyFecRetr,jdbcType=INTEGER}, 
      #{envioKeyEstado,jdbcType=INTEGER}, #{envioIndUnidad,jdbcType=SMALLINT}, #{envioIndEnt,jdbcType=SMALLINT}, 
      #{envioIndMot,jdbcType=SMALLINT}, #{envioIndRee,jdbcType=SMALLINT}, #{envioIndAnu,jdbcType=SMALLINT}, 
      #{envioIndFueZon,jdbcType=SMALLINT}, #{envioIndPerd,jdbcType=SMALLINT}, #{envioIndDig,jdbcType=SMALLINT}, 
      #{envioIndRut,jdbcType=SMALLINT}, #{envioIndPro,jdbcType=SMALLINT}, #{envioIndRob,jdbcType=SMALLINT}, 
      #{procId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.FactEnvio" >
    insert into fact_envio
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="envioKey != null" >
        envio_key,
      </if>
      <if test="envioKeyClienteArea != null" >
        envio_key_cliente_area,
      </if>
      <if test="envioKeyServicio != null" >
        envio_key_servicio,
      </if>
      <if test="envioKeyProducto != null" >
        envio_key_producto,
      </if>
      <if test="envioKeyZona != null" >
        envio_key_zona,
      </if>
      <if test="envioKeyPersonal != null" >
        envio_key_personal,
      </if>
      <if test="envioKeyFecSal != null" >
        envio_key_fec_sal,
      </if>
      <if test="envioKeyFecRetp != null" >
        envio_key_fec_retp,
      </if>
      <if test="envioKeyFecRetr != null" >
        envio_key_fec_retr,
      </if>
      <if test="envioKeyEstado != null" >
        envio_key_estado,
      </if>
      <if test="envioIndUnidad != null" >
        envio_ind_unidad,
      </if>
      <if test="envioIndEnt != null" >
        envio_ind_ent,
      </if>
      <if test="envioIndMot != null" >
        envio_ind_mot,
      </if>
      <if test="envioIndRee != null" >
        envio_ind_ree,
      </if>
      <if test="envioIndAnu != null" >
        envio_ind_anu,
      </if>
      <if test="envioIndFueZon != null" >
        envio_ind_fue_zon,
      </if>
      <if test="envioIndPerd != null" >
        envio_ind_perd,
      </if>
      <if test="envioIndDig != null" >
        envio_ind_dig,
      </if>
      <if test="envioIndRut != null" >
        envio_ind_rut,
      </if>
      <if test="envioIndPro != null" >
        envio_ind_pro,
      </if>
      <if test="envioIndRob != null" >
        envio_ind_rob,
      </if>
      <if test="procId != null" >
        proc_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="envioKey != null" >
        #{envioKey,jdbcType=INTEGER},
      </if>
      <if test="envioKeyClienteArea != null" >
        #{envioKeyClienteArea,jdbcType=INTEGER},
      </if>
      <if test="envioKeyServicio != null" >
        #{envioKeyServicio,jdbcType=INTEGER},
      </if>
      <if test="envioKeyProducto != null" >
        #{envioKeyProducto,jdbcType=INTEGER},
      </if>
      <if test="envioKeyZona != null" >
        #{envioKeyZona,jdbcType=INTEGER},
      </if>
      <if test="envioKeyPersonal != null" >
        #{envioKeyPersonal,jdbcType=INTEGER},
      </if>
      <if test="envioKeyFecSal != null" >
        #{envioKeyFecSal,jdbcType=INTEGER},
      </if>
      <if test="envioKeyFecRetp != null" >
        #{envioKeyFecRetp,jdbcType=INTEGER},
      </if>
      <if test="envioKeyFecRetr != null" >
        #{envioKeyFecRetr,jdbcType=INTEGER},
      </if>
      <if test="envioKeyEstado != null" >
        #{envioKeyEstado,jdbcType=INTEGER},
      </if>
      <if test="envioIndUnidad != null" >
        #{envioIndUnidad,jdbcType=SMALLINT},
      </if>
      <if test="envioIndEnt != null" >
        #{envioIndEnt,jdbcType=SMALLINT},
      </if>
      <if test="envioIndMot != null" >
        #{envioIndMot,jdbcType=SMALLINT},
      </if>
      <if test="envioIndRee != null" >
        #{envioIndRee,jdbcType=SMALLINT},
      </if>
      <if test="envioIndAnu != null" >
        #{envioIndAnu,jdbcType=SMALLINT},
      </if>
      <if test="envioIndFueZon != null" >
        #{envioIndFueZon,jdbcType=SMALLINT},
      </if>
      <if test="envioIndPerd != null" >
        #{envioIndPerd,jdbcType=SMALLINT},
      </if>
      <if test="envioIndDig != null" >
        #{envioIndDig,jdbcType=SMALLINT},
      </if>
      <if test="envioIndRut != null" >
        #{envioIndRut,jdbcType=SMALLINT},
      </if>
      <if test="envioIndPro != null" >
        #{envioIndPro,jdbcType=SMALLINT},
      </if>
      <if test="envioIndRob != null" >
        #{envioIndRob,jdbcType=SMALLINT},
      </if>
      <if test="procId != null" >
        #{procId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.FactEnvioExample" resultType="java.lang.Integer" >
    select count(*) from fact_envio
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fact_envio
    <set >
      <if test="record.envioKey != null" >
        envio_key = #{record.envioKey,jdbcType=INTEGER},
      </if>
      <if test="record.envioKeyClienteArea != null" >
        envio_key_cliente_area = #{record.envioKeyClienteArea,jdbcType=INTEGER},
      </if>
      <if test="record.envioKeyServicio != null" >
        envio_key_servicio = #{record.envioKeyServicio,jdbcType=INTEGER},
      </if>
      <if test="record.envioKeyProducto != null" >
        envio_key_producto = #{record.envioKeyProducto,jdbcType=INTEGER},
      </if>
      <if test="record.envioKeyZona != null" >
        envio_key_zona = #{record.envioKeyZona,jdbcType=INTEGER},
      </if>
      <if test="record.envioKeyPersonal != null" >
        envio_key_personal = #{record.envioKeyPersonal,jdbcType=INTEGER},
      </if>
      <if test="record.envioKeyFecSal != null" >
        envio_key_fec_sal = #{record.envioKeyFecSal,jdbcType=INTEGER},
      </if>
      <if test="record.envioKeyFecRetp != null" >
        envio_key_fec_retp = #{record.envioKeyFecRetp,jdbcType=INTEGER},
      </if>
      <if test="record.envioKeyFecRetr != null" >
        envio_key_fec_retr = #{record.envioKeyFecRetr,jdbcType=INTEGER},
      </if>
      <if test="record.envioKeyEstado != null" >
        envio_key_estado = #{record.envioKeyEstado,jdbcType=INTEGER},
      </if>
      <if test="record.envioIndUnidad != null" >
        envio_ind_unidad = #{record.envioIndUnidad,jdbcType=SMALLINT},
      </if>
      <if test="record.envioIndEnt != null" >
        envio_ind_ent = #{record.envioIndEnt,jdbcType=SMALLINT},
      </if>
      <if test="record.envioIndMot != null" >
        envio_ind_mot = #{record.envioIndMot,jdbcType=SMALLINT},
      </if>
      <if test="record.envioIndRee != null" >
        envio_ind_ree = #{record.envioIndRee,jdbcType=SMALLINT},
      </if>
      <if test="record.envioIndAnu != null" >
        envio_ind_anu = #{record.envioIndAnu,jdbcType=SMALLINT},
      </if>
      <if test="record.envioIndFueZon != null" >
        envio_ind_fue_zon = #{record.envioIndFueZon,jdbcType=SMALLINT},
      </if>
      <if test="record.envioIndPerd != null" >
        envio_ind_perd = #{record.envioIndPerd,jdbcType=SMALLINT},
      </if>
      <if test="record.envioIndDig != null" >
        envio_ind_dig = #{record.envioIndDig,jdbcType=SMALLINT},
      </if>
      <if test="record.envioIndRut != null" >
        envio_ind_rut = #{record.envioIndRut,jdbcType=SMALLINT},
      </if>
      <if test="record.envioIndPro != null" >
        envio_ind_pro = #{record.envioIndPro,jdbcType=SMALLINT},
      </if>
      <if test="record.envioIndRob != null" >
        envio_ind_rob = #{record.envioIndRob,jdbcType=SMALLINT},
      </if>
      <if test="record.procId != null" >
        proc_id = #{record.procId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fact_envio
    set envio_key = #{record.envioKey,jdbcType=INTEGER},
      envio_key_cliente_area = #{record.envioKeyClienteArea,jdbcType=INTEGER},
      envio_key_servicio = #{record.envioKeyServicio,jdbcType=INTEGER},
      envio_key_producto = #{record.envioKeyProducto,jdbcType=INTEGER},
      envio_key_zona = #{record.envioKeyZona,jdbcType=INTEGER},
      envio_key_personal = #{record.envioKeyPersonal,jdbcType=INTEGER},
      envio_key_fec_sal = #{record.envioKeyFecSal,jdbcType=INTEGER},
      envio_key_fec_retp = #{record.envioKeyFecRetp,jdbcType=INTEGER},
      envio_key_fec_retr = #{record.envioKeyFecRetr,jdbcType=INTEGER},
      envio_key_estado = #{record.envioKeyEstado,jdbcType=INTEGER},
      envio_ind_unidad = #{record.envioIndUnidad,jdbcType=SMALLINT},
      envio_ind_ent = #{record.envioIndEnt,jdbcType=SMALLINT},
      envio_ind_mot = #{record.envioIndMot,jdbcType=SMALLINT},
      envio_ind_ree = #{record.envioIndRee,jdbcType=SMALLINT},
      envio_ind_anu = #{record.envioIndAnu,jdbcType=SMALLINT},
      envio_ind_fue_zon = #{record.envioIndFueZon,jdbcType=SMALLINT},
      envio_ind_perd = #{record.envioIndPerd,jdbcType=SMALLINT},
      envio_ind_dig = #{record.envioIndDig,jdbcType=SMALLINT},
      envio_ind_rut = #{record.envioIndRut,jdbcType=SMALLINT},
      envio_ind_pro = #{record.envioIndPro,jdbcType=SMALLINT},
      envio_ind_rob = #{record.envioIndRob,jdbcType=SMALLINT},
      proc_id = #{record.procId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.FactEnvio" >
    update fact_envio
    <set >
      <if test="envioKeyClienteArea != null" >
        envio_key_cliente_area = #{envioKeyClienteArea,jdbcType=INTEGER},
      </if>
      <if test="envioKeyServicio != null" >
        envio_key_servicio = #{envioKeyServicio,jdbcType=INTEGER},
      </if>
      <if test="envioKeyProducto != null" >
        envio_key_producto = #{envioKeyProducto,jdbcType=INTEGER},
      </if>
      <if test="envioKeyZona != null" >
        envio_key_zona = #{envioKeyZona,jdbcType=INTEGER},
      </if>
      <if test="envioKeyPersonal != null" >
        envio_key_personal = #{envioKeyPersonal,jdbcType=INTEGER},
      </if>
      <if test="envioKeyFecSal != null" >
        envio_key_fec_sal = #{envioKeyFecSal,jdbcType=INTEGER},
      </if>
      <if test="envioKeyFecRetp != null" >
        envio_key_fec_retp = #{envioKeyFecRetp,jdbcType=INTEGER},
      </if>
      <if test="envioKeyFecRetr != null" >
        envio_key_fec_retr = #{envioKeyFecRetr,jdbcType=INTEGER},
      </if>
      <if test="envioKeyEstado != null" >
        envio_key_estado = #{envioKeyEstado,jdbcType=INTEGER},
      </if>
      <if test="envioIndUnidad != null" >
        envio_ind_unidad = #{envioIndUnidad,jdbcType=SMALLINT},
      </if>
      <if test="envioIndEnt != null" >
        envio_ind_ent = #{envioIndEnt,jdbcType=SMALLINT},
      </if>
      <if test="envioIndMot != null" >
        envio_ind_mot = #{envioIndMot,jdbcType=SMALLINT},
      </if>
      <if test="envioIndRee != null" >
        envio_ind_ree = #{envioIndRee,jdbcType=SMALLINT},
      </if>
      <if test="envioIndAnu != null" >
        envio_ind_anu = #{envioIndAnu,jdbcType=SMALLINT},
      </if>
      <if test="envioIndFueZon != null" >
        envio_ind_fue_zon = #{envioIndFueZon,jdbcType=SMALLINT},
      </if>
      <if test="envioIndPerd != null" >
        envio_ind_perd = #{envioIndPerd,jdbcType=SMALLINT},
      </if>
      <if test="envioIndDig != null" >
        envio_ind_dig = #{envioIndDig,jdbcType=SMALLINT},
      </if>
      <if test="envioIndRut != null" >
        envio_ind_rut = #{envioIndRut,jdbcType=SMALLINT},
      </if>
      <if test="envioIndPro != null" >
        envio_ind_pro = #{envioIndPro,jdbcType=SMALLINT},
      </if>
      <if test="envioIndRob != null" >
        envio_ind_rob = #{envioIndRob,jdbcType=SMALLINT},
      </if>
      <if test="procId != null" >
        proc_id = #{procId,jdbcType=INTEGER},
      </if>
    </set>
    where envio_key = #{envioKey,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.FactEnvio" >
    update fact_envio
    set envio_key_cliente_area = #{envioKeyClienteArea,jdbcType=INTEGER},
      envio_key_servicio = #{envioKeyServicio,jdbcType=INTEGER},
      envio_key_producto = #{envioKeyProducto,jdbcType=INTEGER},
      envio_key_zona = #{envioKeyZona,jdbcType=INTEGER},
      envio_key_personal = #{envioKeyPersonal,jdbcType=INTEGER},
      envio_key_fec_sal = #{envioKeyFecSal,jdbcType=INTEGER},
      envio_key_fec_retp = #{envioKeyFecRetp,jdbcType=INTEGER},
      envio_key_fec_retr = #{envioKeyFecRetr,jdbcType=INTEGER},
      envio_key_estado = #{envioKeyEstado,jdbcType=INTEGER},
      envio_ind_unidad = #{envioIndUnidad,jdbcType=SMALLINT},
      envio_ind_ent = #{envioIndEnt,jdbcType=SMALLINT},
      envio_ind_mot = #{envioIndMot,jdbcType=SMALLINT},
      envio_ind_ree = #{envioIndRee,jdbcType=SMALLINT},
      envio_ind_anu = #{envioIndAnu,jdbcType=SMALLINT},
      envio_ind_fue_zon = #{envioIndFueZon,jdbcType=SMALLINT},
      envio_ind_perd = #{envioIndPerd,jdbcType=SMALLINT},
      envio_ind_dig = #{envioIndDig,jdbcType=SMALLINT},
      envio_ind_rut = #{envioIndRut,jdbcType=SMALLINT},
      envio_ind_pro = #{envioIndPro,jdbcType=SMALLINT},
      envio_ind_rob = #{envioIndRob,jdbcType=SMALLINT},
      proc_id = #{procId,jdbcType=INTEGER}
    where envio_key = #{envioKey,jdbcType=INTEGER}
  </update>
</mapper>