<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.j2techcon.bi.etl.dao.dimensional.FactCotizacionMapper" >
  <resultMap id="BaseResultMap" type="pe.com.j2techcon.bi.etl.domain.dimensional.FactCotizacion" >
    <result column="cotizacion_key" property="cotizacionKey" jdbcType="INTEGER" />
    <result column="cotizacion_key_cliente" property="cotizacionKeyCliente" jdbcType="INTEGER" />
    <result column="cotizacion_key_servicio" property="cotizacionKeyServicio" jdbcType="INTEGER" />
    <result column="cotizacion_key_producto" property="cotizacionKeyProducto" jdbcType="INTEGER" />
    <result column="cotizacion_key_fec_reg" property="cotizacionKeyFecReg" jdbcType="INTEGER" />
    <result column="cotizacion_key_fec_apro" property="cotizacionKeyFecApro" jdbcType="INTEGER" />
    <result column="cotizacion_key_fec_ini" property="cotizacionKeyFecIni" jdbcType="INTEGER" />
    <result column="cotizacion_key_fec_fin" property="cotizacionKeyFecFin" jdbcType="INTEGER" />
    <result column="cotizacion_key_estado" property="cotizacionKeyEstado" jdbcType="INTEGER" />
    <result column="cotizacion_cnt" property="cotizacionCnt" jdbcType="SMALLINT" />
    <result column="cotizacion_cnt_ord_total" property="cotizacionCntOrdTotal" jdbcType="INTEGER" />
    <result column="cotizacion_cnt_ord_en_trab" property="cotizacionCntOrdEnTrab" jdbcType="INTEGER" />
    <result column="cotizacion_cnt_ord_cer" property="cotizacionCntOrdCer" jdbcType="INTEGER" />
    <result column="cotizacion_cnt_ord_catiempo" property="cotizacionCntOrdCatiempo" jdbcType="INTEGER" />
    <result column="cotizacion_cnt_ord_cftiempo" property="cotizacionCntOrdCftiempo" jdbcType="INTEGER" />
    <result column="cotizacion_cnt_ord_fac" property="cotizacionCntOrdFac" jdbcType="INTEGER" />
    <result column="cotizacion_cnt_ord_can" property="cotizacionCntOrdCan" jdbcType="INTEGER" />
    <result column="cotizacion_mon_importe" property="cotizacionMonImporte" jdbcType="NUMERIC" />
    <result column="cotizacion_mon_igv" property="cotizacionMonIgv" jdbcType="NUMERIC" />
    <result column="cotizacion_mon_total" property="cotizacionMonTotal" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cotizacion_key, cotizacion_key_cliente, cotizacion_key_servicio, cotizacion_key_producto, 
    cotizacion_key_fec_reg, cotizacion_key_fec_apro, cotizacion_key_fec_ini, cotizacion_key_fec_fin, 
    cotizacion_key_estado, cotizacion_cnt, cotizacion_cnt_ord_total, cotizacion_cnt_ord_en_trab, 
    cotizacion_cnt_ord_cer, cotizacion_cnt_ord_catiempo, cotizacion_cnt_ord_cftiempo, 
    cotizacion_cnt_ord_fac, cotizacion_cnt_ord_can, cotizacion_mon_importe, cotizacion_mon_igv, 
    cotizacion_mon_total
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.FactCotizacionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fact_cotizacion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="paginationByClause != null" >
      ${paginationByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.FactCotizacionExample" >
    delete from fact_cotizacion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.FactCotizacion" >
    insert into fact_cotizacion (cotizacion_key, cotizacion_key_cliente, 
      cotizacion_key_servicio, cotizacion_key_producto, 
      cotizacion_key_fec_reg, cotizacion_key_fec_apro, 
      cotizacion_key_fec_ini, cotizacion_key_fec_fin, 
      cotizacion_key_estado, cotizacion_cnt, cotizacion_cnt_ord_total, 
      cotizacion_cnt_ord_en_trab, cotizacion_cnt_ord_cer, 
      cotizacion_cnt_ord_catiempo, cotizacion_cnt_ord_cftiempo, 
      cotizacion_cnt_ord_fac, cotizacion_cnt_ord_can, 
      cotizacion_mon_importe, cotizacion_mon_igv, 
      cotizacion_mon_total)
    values (#{cotizacionKey,jdbcType=INTEGER}, #{cotizacionKeyCliente,jdbcType=INTEGER}, 
      #{cotizacionKeyServicio,jdbcType=INTEGER}, #{cotizacionKeyProducto,jdbcType=INTEGER}, 
      #{cotizacionKeyFecReg,jdbcType=INTEGER}, #{cotizacionKeyFecApro,jdbcType=INTEGER}, 
      #{cotizacionKeyFecIni,jdbcType=INTEGER}, #{cotizacionKeyFecFin,jdbcType=INTEGER}, 
      #{cotizacionKeyEstado,jdbcType=INTEGER}, #{cotizacionCnt,jdbcType=SMALLINT}, #{cotizacionCntOrdTotal,jdbcType=INTEGER}, 
      #{cotizacionCntOrdEnTrab,jdbcType=INTEGER}, #{cotizacionCntOrdCer,jdbcType=INTEGER}, 
      #{cotizacionCntOrdCatiempo,jdbcType=INTEGER}, #{cotizacionCntOrdCftiempo,jdbcType=INTEGER}, 
      #{cotizacionCntOrdFac,jdbcType=INTEGER}, #{cotizacionCntOrdCan,jdbcType=INTEGER}, 
      #{cotizacionMonImporte,jdbcType=NUMERIC}, #{cotizacionMonIgv,jdbcType=NUMERIC}, 
      #{cotizacionMonTotal,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.FactCotizacion" >
    insert into fact_cotizacion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cotizacionKey != null" >
        cotizacion_key,
      </if>
      <if test="cotizacionKeyCliente != null" >
        cotizacion_key_cliente,
      </if>
      <if test="cotizacionKeyServicio != null" >
        cotizacion_key_servicio,
      </if>
      <if test="cotizacionKeyProducto != null" >
        cotizacion_key_producto,
      </if>
      <if test="cotizacionKeyFecReg != null" >
        cotizacion_key_fec_reg,
      </if>
      <if test="cotizacionKeyFecApro != null" >
        cotizacion_key_fec_apro,
      </if>
      <if test="cotizacionKeyFecIni != null" >
        cotizacion_key_fec_ini,
      </if>
      <if test="cotizacionKeyFecFin != null" >
        cotizacion_key_fec_fin,
      </if>
      <if test="cotizacionKeyEstado != null" >
        cotizacion_key_estado,
      </if>
      <if test="cotizacionCnt != null" >
        cotizacion_cnt,
      </if>
      <if test="cotizacionCntOrdTotal != null" >
        cotizacion_cnt_ord_total,
      </if>
      <if test="cotizacionCntOrdEnTrab != null" >
        cotizacion_cnt_ord_en_trab,
      </if>
      <if test="cotizacionCntOrdCer != null" >
        cotizacion_cnt_ord_cer,
      </if>
      <if test="cotizacionCntOrdCatiempo != null" >
        cotizacion_cnt_ord_catiempo,
      </if>
      <if test="cotizacionCntOrdCftiempo != null" >
        cotizacion_cnt_ord_cftiempo,
      </if>
      <if test="cotizacionCntOrdFac != null" >
        cotizacion_cnt_ord_fac,
      </if>
      <if test="cotizacionCntOrdCan != null" >
        cotizacion_cnt_ord_can,
      </if>
      <if test="cotizacionMonImporte != null" >
        cotizacion_mon_importe,
      </if>
      <if test="cotizacionMonIgv != null" >
        cotizacion_mon_igv,
      </if>
      <if test="cotizacionMonTotal != null" >
        cotizacion_mon_total,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cotizacionKey != null" >
        #{cotizacionKey,jdbcType=INTEGER},
      </if>
      <if test="cotizacionKeyCliente != null" >
        #{cotizacionKeyCliente,jdbcType=INTEGER},
      </if>
      <if test="cotizacionKeyServicio != null" >
        #{cotizacionKeyServicio,jdbcType=INTEGER},
      </if>
      <if test="cotizacionKeyProducto != null" >
        #{cotizacionKeyProducto,jdbcType=INTEGER},
      </if>
      <if test="cotizacionKeyFecReg != null" >
        #{cotizacionKeyFecReg,jdbcType=INTEGER},
      </if>
      <if test="cotizacionKeyFecApro != null" >
        #{cotizacionKeyFecApro,jdbcType=INTEGER},
      </if>
      <if test="cotizacionKeyFecIni != null" >
        #{cotizacionKeyFecIni,jdbcType=INTEGER},
      </if>
      <if test="cotizacionKeyFecFin != null" >
        #{cotizacionKeyFecFin,jdbcType=INTEGER},
      </if>
      <if test="cotizacionKeyEstado != null" >
        #{cotizacionKeyEstado,jdbcType=INTEGER},
      </if>
      <if test="cotizacionCnt != null" >
        #{cotizacionCnt,jdbcType=SMALLINT},
      </if>
      <if test="cotizacionCntOrdTotal != null" >
        #{cotizacionCntOrdTotal,jdbcType=INTEGER},
      </if>
      <if test="cotizacionCntOrdEnTrab != null" >
        #{cotizacionCntOrdEnTrab,jdbcType=INTEGER},
      </if>
      <if test="cotizacionCntOrdCer != null" >
        #{cotizacionCntOrdCer,jdbcType=INTEGER},
      </if>
      <if test="cotizacionCntOrdCatiempo != null" >
        #{cotizacionCntOrdCatiempo,jdbcType=INTEGER},
      </if>
      <if test="cotizacionCntOrdCftiempo != null" >
        #{cotizacionCntOrdCftiempo,jdbcType=INTEGER},
      </if>
      <if test="cotizacionCntOrdFac != null" >
        #{cotizacionCntOrdFac,jdbcType=INTEGER},
      </if>
      <if test="cotizacionCntOrdCan != null" >
        #{cotizacionCntOrdCan,jdbcType=INTEGER},
      </if>
      <if test="cotizacionMonImporte != null" >
        #{cotizacionMonImporte,jdbcType=NUMERIC},
      </if>
      <if test="cotizacionMonIgv != null" >
        #{cotizacionMonIgv,jdbcType=NUMERIC},
      </if>
      <if test="cotizacionMonTotal != null" >
        #{cotizacionMonTotal,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.FactCotizacionExample" resultType="java.lang.Integer" >
    select count(*) from fact_cotizacion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fact_cotizacion
    <set >
      <if test="record.cotizacionKey != null" >
        cotizacion_key = #{record.cotizacionKey,jdbcType=INTEGER},
      </if>
      <if test="record.cotizacionKeyCliente != null" >
        cotizacion_key_cliente = #{record.cotizacionKeyCliente,jdbcType=INTEGER},
      </if>
      <if test="record.cotizacionKeyServicio != null" >
        cotizacion_key_servicio = #{record.cotizacionKeyServicio,jdbcType=INTEGER},
      </if>
      <if test="record.cotizacionKeyProducto != null" >
        cotizacion_key_producto = #{record.cotizacionKeyProducto,jdbcType=INTEGER},
      </if>
      <if test="record.cotizacionKeyFecReg != null" >
        cotizacion_key_fec_reg = #{record.cotizacionKeyFecReg,jdbcType=INTEGER},
      </if>
      <if test="record.cotizacionKeyFecApro != null" >
        cotizacion_key_fec_apro = #{record.cotizacionKeyFecApro,jdbcType=INTEGER},
      </if>
      <if test="record.cotizacionKeyFecIni != null" >
        cotizacion_key_fec_ini = #{record.cotizacionKeyFecIni,jdbcType=INTEGER},
      </if>
      <if test="record.cotizacionKeyFecFin != null" >
        cotizacion_key_fec_fin = #{record.cotizacionKeyFecFin,jdbcType=INTEGER},
      </if>
      <if test="record.cotizacionKeyEstado != null" >
        cotizacion_key_estado = #{record.cotizacionKeyEstado,jdbcType=INTEGER},
      </if>
      <if test="record.cotizacionCnt != null" >
        cotizacion_cnt = #{record.cotizacionCnt,jdbcType=SMALLINT},
      </if>
      <if test="record.cotizacionCntOrdTotal != null" >
        cotizacion_cnt_ord_total = #{record.cotizacionCntOrdTotal,jdbcType=INTEGER},
      </if>
      <if test="record.cotizacionCntOrdEnTrab != null" >
        cotizacion_cnt_ord_en_trab = #{record.cotizacionCntOrdEnTrab,jdbcType=INTEGER},
      </if>
      <if test="record.cotizacionCntOrdCer != null" >
        cotizacion_cnt_ord_cer = #{record.cotizacionCntOrdCer,jdbcType=INTEGER},
      </if>
      <if test="record.cotizacionCntOrdCatiempo != null" >
        cotizacion_cnt_ord_catiempo = #{record.cotizacionCntOrdCatiempo,jdbcType=INTEGER},
      </if>
      <if test="record.cotizacionCntOrdCftiempo != null" >
        cotizacion_cnt_ord_cftiempo = #{record.cotizacionCntOrdCftiempo,jdbcType=INTEGER},
      </if>
      <if test="record.cotizacionCntOrdFac != null" >
        cotizacion_cnt_ord_fac = #{record.cotizacionCntOrdFac,jdbcType=INTEGER},
      </if>
      <if test="record.cotizacionCntOrdCan != null" >
        cotizacion_cnt_ord_can = #{record.cotizacionCntOrdCan,jdbcType=INTEGER},
      </if>
      <if test="record.cotizacionMonImporte != null" >
        cotizacion_mon_importe = #{record.cotizacionMonImporte,jdbcType=NUMERIC},
      </if>
      <if test="record.cotizacionMonIgv != null" >
        cotizacion_mon_igv = #{record.cotizacionMonIgv,jdbcType=NUMERIC},
      </if>
      <if test="record.cotizacionMonTotal != null" >
        cotizacion_mon_total = #{record.cotizacionMonTotal,jdbcType=NUMERIC},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fact_cotizacion
    set cotizacion_key = #{record.cotizacionKey,jdbcType=INTEGER},
      cotizacion_key_cliente = #{record.cotizacionKeyCliente,jdbcType=INTEGER},
      cotizacion_key_servicio = #{record.cotizacionKeyServicio,jdbcType=INTEGER},
      cotizacion_key_producto = #{record.cotizacionKeyProducto,jdbcType=INTEGER},
      cotizacion_key_fec_reg = #{record.cotizacionKeyFecReg,jdbcType=INTEGER},
      cotizacion_key_fec_apro = #{record.cotizacionKeyFecApro,jdbcType=INTEGER},
      cotizacion_key_fec_ini = #{record.cotizacionKeyFecIni,jdbcType=INTEGER},
      cotizacion_key_fec_fin = #{record.cotizacionKeyFecFin,jdbcType=INTEGER},
      cotizacion_key_estado = #{record.cotizacionKeyEstado,jdbcType=INTEGER},
      cotizacion_cnt = #{record.cotizacionCnt,jdbcType=SMALLINT},
      cotizacion_cnt_ord_total = #{record.cotizacionCntOrdTotal,jdbcType=INTEGER},
      cotizacion_cnt_ord_en_trab = #{record.cotizacionCntOrdEnTrab,jdbcType=INTEGER},
      cotizacion_cnt_ord_cer = #{record.cotizacionCntOrdCer,jdbcType=INTEGER},
      cotizacion_cnt_ord_catiempo = #{record.cotizacionCntOrdCatiempo,jdbcType=INTEGER},
      cotizacion_cnt_ord_cftiempo = #{record.cotizacionCntOrdCftiempo,jdbcType=INTEGER},
      cotizacion_cnt_ord_fac = #{record.cotizacionCntOrdFac,jdbcType=INTEGER},
      cotizacion_cnt_ord_can = #{record.cotizacionCntOrdCan,jdbcType=INTEGER},
      cotizacion_mon_importe = #{record.cotizacionMonImporte,jdbcType=NUMERIC},
      cotizacion_mon_igv = #{record.cotizacionMonIgv,jdbcType=NUMERIC},
      cotizacion_mon_total = #{record.cotizacionMonTotal,jdbcType=NUMERIC}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>