<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="detdespacho" >
  <resultMap id="BaseResultMap" type="pe.com.j2techcon.bi.etl.domain.origen.Detdespacho" >
    <id column="serieguia" property="serieguia" jdbcType="CHAR" />
    <id column="nroguia" property="nroguia" jdbcType="CHAR" />
    <id column="serie" property="serie" jdbcType="CHAR" />
    <id column="orden" property="orden" jdbcType="CHAR" />
    <id column="correlativo" property="correlativo" jdbcType="CHAR" />
    <result column="codorigen" property="codorigen" jdbcType="CHAR" />
    <result column="codsede" property="codsede" jdbcType="CHAR" />
    <result column="codclienteb" property="codclienteb" jdbcType="VARCHAR" />
    <result column="estacion" property="estacion" jdbcType="CHAR" />
    <result column="contador" property="contador" jdbcType="CHAR" />
    <result column="volante" property="volante" jdbcType="SMALLINT" />
    <result column="codzona" property="codzona" jdbcType="CHAR" />
    <result column="codestado" property="codestado" jdbcType="CHAR" />
    <result column="codmotivo" property="codmotivo" jdbcType="CHAR" />
    <result column="estadoveri" property="estadoveri" jdbcType="CHAR" />
    <result column="fecasignado" property="fecasignado" jdbcType="DATE" />
    <result column="user_cla" property="userCla" jdbcType="CHAR" />
    <result column="fec_cla" property="fecCla" jdbcType="TIMESTAMP" />
    <result column="user_recep" property="userRecep" jdbcType="CHAR" />
    <result column="fec_recep" property="fecRecep" jdbcType="TIMESTAMP" />
    <result column="bi_fec_num_cam" property="biFecNumCam" jdbcType="TIMESTAMP" />
    <result column="bi_cod_ind_cam" property="biCodIndCam" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    serieguia, nroguia, serie, orden, correlativo, codorigen, codsede, codclienteb, estacion, 
    contador, volante, codzona, codestado, codmotivo, estadoveri, fecasignado, user_cla, 
    fec_cla, user_recep, fec_recep, bi_fec_num_cam, bi_cod_ind_cam
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.j2techcon.bi.etl.domain.origen.DetdespachoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from detdespacho
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="paginationByClause != null" >
      ${paginationByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from detdespacho
    where serieguia = #{serieguia,jdbcType=CHAR}
      and nroguia = #{nroguia,jdbcType=CHAR}
      and serie = #{serie,jdbcType=CHAR}
      and orden = #{orden,jdbcType=CHAR}
      and correlativo = #{correlativo,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from detdespacho
    where serieguia = #{serieguia,jdbcType=CHAR}
      and nroguia = #{nroguia,jdbcType=CHAR}
      and serie = #{serie,jdbcType=CHAR}
      and orden = #{orden,jdbcType=CHAR}
      and correlativo = #{correlativo,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="pe.com.j2techcon.bi.etl.domain.origen.DetdespachoExample" >
    delete from detdespacho
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.j2techcon.bi.etl.domain.origen.Detdespacho" >
    insert into detdespacho (serieguia, nroguia, serie, 
      orden, correlativo, codorigen, 
      codsede, codclienteb, estacion, 
      contador, volante, codzona, 
      codestado, codmotivo, estadoveri, 
      fecasignado, user_cla, fec_cla, 
      user_recep, fec_recep, bi_fec_num_cam, 
      bi_cod_ind_cam)
    values (#{serieguia,jdbcType=CHAR}, #{nroguia,jdbcType=CHAR}, #{serie,jdbcType=CHAR}, 
      #{orden,jdbcType=CHAR}, #{correlativo,jdbcType=CHAR}, #{codorigen,jdbcType=CHAR}, 
      #{codsede,jdbcType=CHAR}, #{codclienteb,jdbcType=VARCHAR}, #{estacion,jdbcType=CHAR}, 
      #{contador,jdbcType=CHAR}, #{volante,jdbcType=SMALLINT}, #{codzona,jdbcType=CHAR}, 
      #{codestado,jdbcType=CHAR}, #{codmotivo,jdbcType=CHAR}, #{estadoveri,jdbcType=CHAR}, 
      #{fecasignado,jdbcType=DATE}, #{userCla,jdbcType=CHAR}, #{fecCla,jdbcType=TIMESTAMP}, 
      #{userRecep,jdbcType=CHAR}, #{fecRecep,jdbcType=TIMESTAMP}, #{biFecNumCam,jdbcType=TIMESTAMP}, 
      #{biCodIndCam,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="pe.com.j2techcon.bi.etl.domain.origen.Detdespacho" >
    insert into detdespacho
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serieguia != null" >
        serieguia,
      </if>
      <if test="nroguia != null" >
        nroguia,
      </if>
      <if test="serie != null" >
        serie,
      </if>
      <if test="orden != null" >
        orden,
      </if>
      <if test="correlativo != null" >
        correlativo,
      </if>
      <if test="codorigen != null" >
        codorigen,
      </if>
      <if test="codsede != null" >
        codsede,
      </if>
      <if test="codclienteb != null" >
        codclienteb,
      </if>
      <if test="estacion != null" >
        estacion,
      </if>
      <if test="contador != null" >
        contador,
      </if>
      <if test="volante != null" >
        volante,
      </if>
      <if test="codzona != null" >
        codzona,
      </if>
      <if test="codestado != null" >
        codestado,
      </if>
      <if test="codmotivo != null" >
        codmotivo,
      </if>
      <if test="estadoveri != null" >
        estadoveri,
      </if>
      <if test="fecasignado != null" >
        fecasignado,
      </if>
      <if test="userCla != null" >
        user_cla,
      </if>
      <if test="fecCla != null" >
        fec_cla,
      </if>
      <if test="userRecep != null" >
        user_recep,
      </if>
      <if test="fecRecep != null" >
        fec_recep,
      </if>
      <if test="biFecNumCam != null" >
        bi_fec_num_cam,
      </if>
      <if test="biCodIndCam != null" >
        bi_cod_ind_cam,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serieguia != null" >
        #{serieguia,jdbcType=CHAR},
      </if>
      <if test="nroguia != null" >
        #{nroguia,jdbcType=CHAR},
      </if>
      <if test="serie != null" >
        #{serie,jdbcType=CHAR},
      </if>
      <if test="orden != null" >
        #{orden,jdbcType=CHAR},
      </if>
      <if test="correlativo != null" >
        #{correlativo,jdbcType=CHAR},
      </if>
      <if test="codorigen != null" >
        #{codorigen,jdbcType=CHAR},
      </if>
      <if test="codsede != null" >
        #{codsede,jdbcType=CHAR},
      </if>
      <if test="codclienteb != null" >
        #{codclienteb,jdbcType=VARCHAR},
      </if>
      <if test="estacion != null" >
        #{estacion,jdbcType=CHAR},
      </if>
      <if test="contador != null" >
        #{contador,jdbcType=CHAR},
      </if>
      <if test="volante != null" >
        #{volante,jdbcType=SMALLINT},
      </if>
      <if test="codzona != null" >
        #{codzona,jdbcType=CHAR},
      </if>
      <if test="codestado != null" >
        #{codestado,jdbcType=CHAR},
      </if>
      <if test="codmotivo != null" >
        #{codmotivo,jdbcType=CHAR},
      </if>
      <if test="estadoveri != null" >
        #{estadoveri,jdbcType=CHAR},
      </if>
      <if test="fecasignado != null" >
        #{fecasignado,jdbcType=DATE},
      </if>
      <if test="userCla != null" >
        #{userCla,jdbcType=CHAR},
      </if>
      <if test="fecCla != null" >
        #{fecCla,jdbcType=TIMESTAMP},
      </if>
      <if test="userRecep != null" >
        #{userRecep,jdbcType=CHAR},
      </if>
      <if test="fecRecep != null" >
        #{fecRecep,jdbcType=TIMESTAMP},
      </if>
      <if test="biFecNumCam != null" >
        #{biFecNumCam,jdbcType=TIMESTAMP},
      </if>
      <if test="biCodIndCam != null" >
        #{biCodIndCam,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.j2techcon.bi.etl.domain.origen.DetdespachoExample" resultType="java.lang.Integer" >
    select count(*) from detdespacho
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update detdespacho
    <set >
      <if test="record.serieguia != null" >
        serieguia = #{record.serieguia,jdbcType=CHAR},
      </if>
      <if test="record.nroguia != null" >
        nroguia = #{record.nroguia,jdbcType=CHAR},
      </if>
      <if test="record.serie != null" >
        serie = #{record.serie,jdbcType=CHAR},
      </if>
      <if test="record.orden != null" >
        orden = #{record.orden,jdbcType=CHAR},
      </if>
      <if test="record.correlativo != null" >
        correlativo = #{record.correlativo,jdbcType=CHAR},
      </if>
      <if test="record.codorigen != null" >
        codorigen = #{record.codorigen,jdbcType=CHAR},
      </if>
      <if test="record.codsede != null" >
        codsede = #{record.codsede,jdbcType=CHAR},
      </if>
      <if test="record.codclienteb != null" >
        codclienteb = #{record.codclienteb,jdbcType=VARCHAR},
      </if>
      <if test="record.estacion != null" >
        estacion = #{record.estacion,jdbcType=CHAR},
      </if>
      <if test="record.contador != null" >
        contador = #{record.contador,jdbcType=CHAR},
      </if>
      <if test="record.volante != null" >
        volante = #{record.volante,jdbcType=SMALLINT},
      </if>
      <if test="record.codzona != null" >
        codzona = #{record.codzona,jdbcType=CHAR},
      </if>
      <if test="record.codestado != null" >
        codestado = #{record.codestado,jdbcType=CHAR},
      </if>
      <if test="record.codmotivo != null" >
        codmotivo = #{record.codmotivo,jdbcType=CHAR},
      </if>
      <if test="record.estadoveri != null" >
        estadoveri = #{record.estadoveri,jdbcType=CHAR},
      </if>
      <if test="record.fecasignado != null" >
        fecasignado = #{record.fecasignado,jdbcType=DATE},
      </if>
      <if test="record.userCla != null" >
        user_cla = #{record.userCla,jdbcType=CHAR},
      </if>
      <if test="record.fecCla != null" >
        fec_cla = #{record.fecCla,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userRecep != null" >
        user_recep = #{record.userRecep,jdbcType=CHAR},
      </if>
      <if test="record.fecRecep != null" >
        fec_recep = #{record.fecRecep,jdbcType=TIMESTAMP},
      </if>
      <if test="record.biFecNumCam != null" >
        bi_fec_num_cam = #{record.biFecNumCam,jdbcType=TIMESTAMP},
      </if>
      <if test="record.biCodIndCam != null" >
        bi_cod_ind_cam = #{record.biCodIndCam,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update detdespacho
    set serieguia = #{record.serieguia,jdbcType=CHAR},
      nroguia = #{record.nroguia,jdbcType=CHAR},
      serie = #{record.serie,jdbcType=CHAR},
      orden = #{record.orden,jdbcType=CHAR},
      correlativo = #{record.correlativo,jdbcType=CHAR},
      codorigen = #{record.codorigen,jdbcType=CHAR},
      codsede = #{record.codsede,jdbcType=CHAR},
      codclienteb = #{record.codclienteb,jdbcType=VARCHAR},
      estacion = #{record.estacion,jdbcType=CHAR},
      contador = #{record.contador,jdbcType=CHAR},
      volante = #{record.volante,jdbcType=SMALLINT},
      codzona = #{record.codzona,jdbcType=CHAR},
      codestado = #{record.codestado,jdbcType=CHAR},
      codmotivo = #{record.codmotivo,jdbcType=CHAR},
      estadoveri = #{record.estadoveri,jdbcType=CHAR},
      fecasignado = #{record.fecasignado,jdbcType=DATE},
      user_cla = #{record.userCla,jdbcType=CHAR},
      fec_cla = #{record.fecCla,jdbcType=TIMESTAMP},
      user_recep = #{record.userRecep,jdbcType=CHAR},
      fec_recep = #{record.fecRecep,jdbcType=TIMESTAMP},
      bi_fec_num_cam = #{record.biFecNumCam,jdbcType=TIMESTAMP},
      bi_cod_ind_cam = #{record.biCodIndCam,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.com.j2techcon.bi.etl.domain.origen.Detdespacho" >
    update detdespacho
    <set >
      <if test="codorigen != null" >
        codorigen = #{codorigen,jdbcType=CHAR},
      </if>
      <if test="codsede != null" >
        codsede = #{codsede,jdbcType=CHAR},
      </if>
      <if test="codclienteb != null" >
        codclienteb = #{codclienteb,jdbcType=VARCHAR},
      </if>
      <if test="estacion != null" >
        estacion = #{estacion,jdbcType=CHAR},
      </if>
      <if test="contador != null" >
        contador = #{contador,jdbcType=CHAR},
      </if>
      <if test="volante != null" >
        volante = #{volante,jdbcType=SMALLINT},
      </if>
      <if test="codzona != null" >
        codzona = #{codzona,jdbcType=CHAR},
      </if>
      <if test="codestado != null" >
        codestado = #{codestado,jdbcType=CHAR},
      </if>
      <if test="codmotivo != null" >
        codmotivo = #{codmotivo,jdbcType=CHAR},
      </if>
      <if test="estadoveri != null" >
        estadoveri = #{estadoveri,jdbcType=CHAR},
      </if>
      <if test="fecasignado != null" >
        fecasignado = #{fecasignado,jdbcType=DATE},
      </if>
      <if test="userCla != null" >
        user_cla = #{userCla,jdbcType=CHAR},
      </if>
      <if test="fecCla != null" >
        fec_cla = #{fecCla,jdbcType=TIMESTAMP},
      </if>
      <if test="userRecep != null" >
        user_recep = #{userRecep,jdbcType=CHAR},
      </if>
      <if test="fecRecep != null" >
        fec_recep = #{fecRecep,jdbcType=TIMESTAMP},
      </if>
      <if test="biFecNumCam != null" >
        bi_fec_num_cam = #{biFecNumCam,jdbcType=TIMESTAMP},
      </if>
      <if test="biCodIndCam != null" >
        bi_cod_ind_cam = #{biCodIndCam,jdbcType=CHAR},
      </if>
    </set>
    where serieguia = #{serieguia,jdbcType=CHAR}
      and nroguia = #{nroguia,jdbcType=CHAR}
      and serie = #{serie,jdbcType=CHAR}
      and orden = #{orden,jdbcType=CHAR}
      and correlativo = #{correlativo,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.com.j2techcon.bi.etl.domain.origen.Detdespacho" >
    update detdespacho
    set codorigen = #{codorigen,jdbcType=CHAR},
      codsede = #{codsede,jdbcType=CHAR},
      codclienteb = #{codclienteb,jdbcType=VARCHAR},
      estacion = #{estacion,jdbcType=CHAR},
      contador = #{contador,jdbcType=CHAR},
      volante = #{volante,jdbcType=SMALLINT},
      codzona = #{codzona,jdbcType=CHAR},
      codestado = #{codestado,jdbcType=CHAR},
      codmotivo = #{codmotivo,jdbcType=CHAR},
      estadoveri = #{estadoveri,jdbcType=CHAR},
      fecasignado = #{fecasignado,jdbcType=DATE},
      user_cla = #{userCla,jdbcType=CHAR},
      fec_cla = #{fecCla,jdbcType=TIMESTAMP},
      user_recep = #{userRecep,jdbcType=CHAR},
      fec_recep = #{fecRecep,jdbcType=TIMESTAMP},
      bi_fec_num_cam = #{biFecNumCam,jdbcType=TIMESTAMP},
      bi_cod_ind_cam = #{biCodIndCam,jdbcType=CHAR}
    where serieguia = #{serieguia,jdbcType=CHAR}
      and nroguia = #{nroguia,jdbcType=CHAR}
      and serie = #{serie,jdbcType=CHAR}
      and orden = #{orden,jdbcType=CHAR}
      and correlativo = #{correlativo,jdbcType=CHAR}
  </update>
</mapper>