<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="personal" >
  <resultMap id="BaseResultMap" type="pe.com.j2techcon.bi.etl.domain.origen.Personal" >
    <id column="codigopersonal" property="codigopersonal" jdbcType="CHAR" />
    <result column="usuario" property="usuario" jdbcType="VARCHAR" />
    <result column="tipopers" property="tipopers" jdbcType="CHAR" />
    <result column="codtipo" property="codtipo" jdbcType="CHAR" />
    <result column="coddepartamento" property="coddepartamento" jdbcType="CHAR" />
    <result column="codbanco" property="codbanco" jdbcType="CHAR" />
    <result column="tipopago" property="tipopago" jdbcType="CHAR" />
    <result column="nombre" property="nombre" jdbcType="VARCHAR" />
    <result column="appaterno" property="appaterno" jdbcType="VARCHAR" />
    <result column="apmaterno" property="apmaterno" jdbcType="VARCHAR" />
    <result column="nombres" property="nombres" jdbcType="VARCHAR" />
    <result column="direccion" property="direccion" jdbcType="VARCHAR" />
    <result column="ubigeo" property="ubigeo" jdbcType="CHAR" />
    <result column="ubigeonac" property="ubigeonac" jdbcType="CHAR" />
    <result column="fechanac" property="fechanac" jdbcType="TIMESTAMP" />
    <result column="estadocivil" property="estadocivil" jdbcType="CHAR" />
    <result column="dni" property="dni" jdbcType="VARCHAR" />
    <result column="lmilitar" property="lmilitar" jdbcType="VARCHAR" />
    <result column="nroafp" property="nroafp" jdbcType="VARCHAR" />
    <result column="nroruc" property="nroruc" jdbcType="VARCHAR" />
    <result column="nrocuenta" property="nrocuenta" jdbcType="VARCHAR" />
    <result column="nroessalud" property="nroessalud" jdbcType="VARCHAR" />
    <result column="telefono" property="telefono" jdbcType="VARCHAR" />
    <result column="correo" property="correo" jdbcType="VARCHAR" />
    <result column="estadopersonal" property="estadopersonal" jdbcType="CHAR" />
    <result column="recomendo" property="recomendo" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="monto" property="monto" jdbcType="NUMERIC" />
    <result column="usuarioingeso" property="usuarioingeso" jdbcType="CHAR" />
    <result column="fechaingreso" property="fechaingreso" jdbcType="TIMESTAMP" />
    <result column="usuariomod" property="usuariomod" jdbcType="CHAR" />
    <result column="fechamod" property="fechamod" jdbcType="TIMESTAMP" />
    <result column="fechacese" property="fechacese" jdbcType="TIMESTAMP" />
    <result column="horaentrada" property="horaentrada" jdbcType="VARCHAR" />
    <result column="tarifa_urbanacc" property="tarifaUrbanacc" jdbcType="NUMERIC" />
    <result column="tarifa_urbanasc" property="tarifaUrbanasc" jdbcType="NUMERIC" />
    <result column="codempresa" property="codempresa" jdbcType="CHAR" />
    <result column="codzona" property="codzona" jdbcType="CHAR" />
    <result column="tarifa_perifericacc" property="tarifaPerifericacc" jdbcType="NUMERIC" />
    <result column="tarifa_perifericasc" property="tarifaPerifericasc" jdbcType="NUMERIC" />
    <result column="tarifa_extremacc" property="tarifaExtremacc" jdbcType="NUMERIC" />
    <result column="tarifa_extremasc" property="tarifaExtremasc" jdbcType="NUMERIC" />
    <result column="sexo" property="sexo" jdbcType="CHAR" />
    <result column="correo_empresa" property="correoEmpresa" jdbcType="VARCHAR" />
    <result column="empresa" property="empresa" jdbcType="VARCHAR" />
    <result column="dirempresa" property="dirempresa" jdbcType="VARCHAR" />
    <result column="rucempresa" property="rucempresa" jdbcType="VARCHAR" />
    <result column="telefono2" property="telefono2" jdbcType="VARCHAR" />
    <result column="correo2" property="correo2" jdbcType="VARCHAR" />
    <result column="coddestino" property="coddestino" jdbcType="CHAR" />
    <result column="codigojefedirecto" property="codigojefedirecto" jdbcType="CHAR" />
    <result column="zona_bono" property="zonaBono" jdbcType="CHAR" />
    <result column="codventa" property="codventa" jdbcType="VARCHAR" />
    <result column="codsede" property="codsede" jdbcType="CHAR" />
    <result column="tipo_comprobante" property="tipoComprobante" jdbcType="CHAR" />
    <result column="bi_fec_num_cam" property="biFecNumCam" jdbcType="TIMESTAMP" />
    <result column="bi_cod_ind_cam" property="biCodIndCam" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    codigopersonal, usuario, tipopers, codtipo, coddepartamento, codbanco, tipopago, 
    nombre, appaterno, apmaterno, nombres, direccion, ubigeo, ubigeonac, fechanac, estadocivil, 
    dni, lmilitar, nroafp, nroruc, nrocuenta, nroessalud, telefono, correo, estadopersonal, 
    recomendo, password, monto, usuarioingeso, fechaingreso, usuariomod, fechamod, fechacese, 
    horaentrada, tarifa_urbanacc, tarifa_urbanasc, codempresa, codzona, tarifa_perifericacc, 
    tarifa_perifericasc, tarifa_extremacc, tarifa_extremasc, sexo, correo_empresa, empresa, 
    dirempresa, rucempresa, telefono2, correo2, coddestino, codigojefedirecto, zona_bono, 
    codventa, codsede, tipo_comprobante, bi_fec_num_cam, bi_cod_ind_cam
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.j2techcon.bi.etl.domain.origen.PersonalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personal
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="paginationByClause != null" >
      ${paginationByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from personal
    where codigopersonal = #{codigopersonal,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from personal
    where codigopersonal = #{codigopersonal,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="pe.com.j2techcon.bi.etl.domain.origen.PersonalExample" >
    delete from personal
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.j2techcon.bi.etl.domain.origen.Personal" >
    insert into personal (codigopersonal, usuario, tipopers, 
      codtipo, coddepartamento, codbanco, 
      tipopago, nombre, appaterno, 
      apmaterno, nombres, direccion, 
      ubigeo, ubigeonac, fechanac, 
      estadocivil, dni, lmilitar, 
      nroafp, nroruc, nrocuenta, 
      nroessalud, telefono, correo, 
      estadopersonal, recomendo, password, 
      monto, usuarioingeso, fechaingreso, 
      usuariomod, fechamod, fechacese, 
      horaentrada, tarifa_urbanacc, tarifa_urbanasc, 
      codempresa, codzona, tarifa_perifericacc, 
      tarifa_perifericasc, tarifa_extremacc, tarifa_extremasc, 
      sexo, correo_empresa, empresa, 
      dirempresa, rucempresa, telefono2, 
      correo2, coddestino, codigojefedirecto, 
      zona_bono, codventa, codsede, 
      tipo_comprobante, bi_fec_num_cam, bi_cod_ind_cam
      )
    values (#{codigopersonal,jdbcType=CHAR}, #{usuario,jdbcType=VARCHAR}, #{tipopers,jdbcType=CHAR}, 
      #{codtipo,jdbcType=CHAR}, #{coddepartamento,jdbcType=CHAR}, #{codbanco,jdbcType=CHAR}, 
      #{tipopago,jdbcType=CHAR}, #{nombre,jdbcType=VARCHAR}, #{appaterno,jdbcType=VARCHAR}, 
      #{apmaterno,jdbcType=VARCHAR}, #{nombres,jdbcType=VARCHAR}, #{direccion,jdbcType=VARCHAR}, 
      #{ubigeo,jdbcType=CHAR}, #{ubigeonac,jdbcType=CHAR}, #{fechanac,jdbcType=TIMESTAMP}, 
      #{estadocivil,jdbcType=CHAR}, #{dni,jdbcType=VARCHAR}, #{lmilitar,jdbcType=VARCHAR}, 
      #{nroafp,jdbcType=VARCHAR}, #{nroruc,jdbcType=VARCHAR}, #{nrocuenta,jdbcType=VARCHAR}, 
      #{nroessalud,jdbcType=VARCHAR}, #{telefono,jdbcType=VARCHAR}, #{correo,jdbcType=VARCHAR}, 
      #{estadopersonal,jdbcType=CHAR}, #{recomendo,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{monto,jdbcType=NUMERIC}, #{usuarioingeso,jdbcType=CHAR}, #{fechaingreso,jdbcType=TIMESTAMP}, 
      #{usuariomod,jdbcType=CHAR}, #{fechamod,jdbcType=TIMESTAMP}, #{fechacese,jdbcType=TIMESTAMP}, 
      #{horaentrada,jdbcType=VARCHAR}, #{tarifaUrbanacc,jdbcType=NUMERIC}, #{tarifaUrbanasc,jdbcType=NUMERIC}, 
      #{codempresa,jdbcType=CHAR}, #{codzona,jdbcType=CHAR}, #{tarifaPerifericacc,jdbcType=NUMERIC}, 
      #{tarifaPerifericasc,jdbcType=NUMERIC}, #{tarifaExtremacc,jdbcType=NUMERIC}, #{tarifaExtremasc,jdbcType=NUMERIC}, 
      #{sexo,jdbcType=CHAR}, #{correoEmpresa,jdbcType=VARCHAR}, #{empresa,jdbcType=VARCHAR}, 
      #{dirempresa,jdbcType=VARCHAR}, #{rucempresa,jdbcType=VARCHAR}, #{telefono2,jdbcType=VARCHAR}, 
      #{correo2,jdbcType=VARCHAR}, #{coddestino,jdbcType=CHAR}, #{codigojefedirecto,jdbcType=CHAR}, 
      #{zonaBono,jdbcType=CHAR}, #{codventa,jdbcType=VARCHAR}, #{codsede,jdbcType=CHAR}, 
      #{tipoComprobante,jdbcType=CHAR}, #{biFecNumCam,jdbcType=TIMESTAMP}, #{biCodIndCam,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="pe.com.j2techcon.bi.etl.domain.origen.Personal" >
    insert into personal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="codigopersonal != null" >
        codigopersonal,
      </if>
      <if test="usuario != null" >
        usuario,
      </if>
      <if test="tipopers != null" >
        tipopers,
      </if>
      <if test="codtipo != null" >
        codtipo,
      </if>
      <if test="coddepartamento != null" >
        coddepartamento,
      </if>
      <if test="codbanco != null" >
        codbanco,
      </if>
      <if test="tipopago != null" >
        tipopago,
      </if>
      <if test="nombre != null" >
        nombre,
      </if>
      <if test="appaterno != null" >
        appaterno,
      </if>
      <if test="apmaterno != null" >
        apmaterno,
      </if>
      <if test="nombres != null" >
        nombres,
      </if>
      <if test="direccion != null" >
        direccion,
      </if>
      <if test="ubigeo != null" >
        ubigeo,
      </if>
      <if test="ubigeonac != null" >
        ubigeonac,
      </if>
      <if test="fechanac != null" >
        fechanac,
      </if>
      <if test="estadocivil != null" >
        estadocivil,
      </if>
      <if test="dni != null" >
        dni,
      </if>
      <if test="lmilitar != null" >
        lmilitar,
      </if>
      <if test="nroafp != null" >
        nroafp,
      </if>
      <if test="nroruc != null" >
        nroruc,
      </if>
      <if test="nrocuenta != null" >
        nrocuenta,
      </if>
      <if test="nroessalud != null" >
        nroessalud,
      </if>
      <if test="telefono != null" >
        telefono,
      </if>
      <if test="correo != null" >
        correo,
      </if>
      <if test="estadopersonal != null" >
        estadopersonal,
      </if>
      <if test="recomendo != null" >
        recomendo,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="monto != null" >
        monto,
      </if>
      <if test="usuarioingeso != null" >
        usuarioingeso,
      </if>
      <if test="fechaingreso != null" >
        fechaingreso,
      </if>
      <if test="usuariomod != null" >
        usuariomod,
      </if>
      <if test="fechamod != null" >
        fechamod,
      </if>
      <if test="fechacese != null" >
        fechacese,
      </if>
      <if test="horaentrada != null" >
        horaentrada,
      </if>
      <if test="tarifaUrbanacc != null" >
        tarifa_urbanacc,
      </if>
      <if test="tarifaUrbanasc != null" >
        tarifa_urbanasc,
      </if>
      <if test="codempresa != null" >
        codempresa,
      </if>
      <if test="codzona != null" >
        codzona,
      </if>
      <if test="tarifaPerifericacc != null" >
        tarifa_perifericacc,
      </if>
      <if test="tarifaPerifericasc != null" >
        tarifa_perifericasc,
      </if>
      <if test="tarifaExtremacc != null" >
        tarifa_extremacc,
      </if>
      <if test="tarifaExtremasc != null" >
        tarifa_extremasc,
      </if>
      <if test="sexo != null" >
        sexo,
      </if>
      <if test="correoEmpresa != null" >
        correo_empresa,
      </if>
      <if test="empresa != null" >
        empresa,
      </if>
      <if test="dirempresa != null" >
        dirempresa,
      </if>
      <if test="rucempresa != null" >
        rucempresa,
      </if>
      <if test="telefono2 != null" >
        telefono2,
      </if>
      <if test="correo2 != null" >
        correo2,
      </if>
      <if test="coddestino != null" >
        coddestino,
      </if>
      <if test="codigojefedirecto != null" >
        codigojefedirecto,
      </if>
      <if test="zonaBono != null" >
        zona_bono,
      </if>
      <if test="codventa != null" >
        codventa,
      </if>
      <if test="codsede != null" >
        codsede,
      </if>
      <if test="tipoComprobante != null" >
        tipo_comprobante,
      </if>
      <if test="biFecNumCam != null" >
        bi_fec_num_cam,
      </if>
      <if test="biCodIndCam != null" >
        bi_cod_ind_cam,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="codigopersonal != null" >
        #{codigopersonal,jdbcType=CHAR},
      </if>
      <if test="usuario != null" >
        #{usuario,jdbcType=VARCHAR},
      </if>
      <if test="tipopers != null" >
        #{tipopers,jdbcType=CHAR},
      </if>
      <if test="codtipo != null" >
        #{codtipo,jdbcType=CHAR},
      </if>
      <if test="coddepartamento != null" >
        #{coddepartamento,jdbcType=CHAR},
      </if>
      <if test="codbanco != null" >
        #{codbanco,jdbcType=CHAR},
      </if>
      <if test="tipopago != null" >
        #{tipopago,jdbcType=CHAR},
      </if>
      <if test="nombre != null" >
        #{nombre,jdbcType=VARCHAR},
      </if>
      <if test="appaterno != null" >
        #{appaterno,jdbcType=VARCHAR},
      </if>
      <if test="apmaterno != null" >
        #{apmaterno,jdbcType=VARCHAR},
      </if>
      <if test="nombres != null" >
        #{nombres,jdbcType=VARCHAR},
      </if>
      <if test="direccion != null" >
        #{direccion,jdbcType=VARCHAR},
      </if>
      <if test="ubigeo != null" >
        #{ubigeo,jdbcType=CHAR},
      </if>
      <if test="ubigeonac != null" >
        #{ubigeonac,jdbcType=CHAR},
      </if>
      <if test="fechanac != null" >
        #{fechanac,jdbcType=TIMESTAMP},
      </if>
      <if test="estadocivil != null" >
        #{estadocivil,jdbcType=CHAR},
      </if>
      <if test="dni != null" >
        #{dni,jdbcType=VARCHAR},
      </if>
      <if test="lmilitar != null" >
        #{lmilitar,jdbcType=VARCHAR},
      </if>
      <if test="nroafp != null" >
        #{nroafp,jdbcType=VARCHAR},
      </if>
      <if test="nroruc != null" >
        #{nroruc,jdbcType=VARCHAR},
      </if>
      <if test="nrocuenta != null" >
        #{nrocuenta,jdbcType=VARCHAR},
      </if>
      <if test="nroessalud != null" >
        #{nroessalud,jdbcType=VARCHAR},
      </if>
      <if test="telefono != null" >
        #{telefono,jdbcType=VARCHAR},
      </if>
      <if test="correo != null" >
        #{correo,jdbcType=VARCHAR},
      </if>
      <if test="estadopersonal != null" >
        #{estadopersonal,jdbcType=CHAR},
      </if>
      <if test="recomendo != null" >
        #{recomendo,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="monto != null" >
        #{monto,jdbcType=NUMERIC},
      </if>
      <if test="usuarioingeso != null" >
        #{usuarioingeso,jdbcType=CHAR},
      </if>
      <if test="fechaingreso != null" >
        #{fechaingreso,jdbcType=TIMESTAMP},
      </if>
      <if test="usuariomod != null" >
        #{usuariomod,jdbcType=CHAR},
      </if>
      <if test="fechamod != null" >
        #{fechamod,jdbcType=TIMESTAMP},
      </if>
      <if test="fechacese != null" >
        #{fechacese,jdbcType=TIMESTAMP},
      </if>
      <if test="horaentrada != null" >
        #{horaentrada,jdbcType=VARCHAR},
      </if>
      <if test="tarifaUrbanacc != null" >
        #{tarifaUrbanacc,jdbcType=NUMERIC},
      </if>
      <if test="tarifaUrbanasc != null" >
        #{tarifaUrbanasc,jdbcType=NUMERIC},
      </if>
      <if test="codempresa != null" >
        #{codempresa,jdbcType=CHAR},
      </if>
      <if test="codzona != null" >
        #{codzona,jdbcType=CHAR},
      </if>
      <if test="tarifaPerifericacc != null" >
        #{tarifaPerifericacc,jdbcType=NUMERIC},
      </if>
      <if test="tarifaPerifericasc != null" >
        #{tarifaPerifericasc,jdbcType=NUMERIC},
      </if>
      <if test="tarifaExtremacc != null" >
        #{tarifaExtremacc,jdbcType=NUMERIC},
      </if>
      <if test="tarifaExtremasc != null" >
        #{tarifaExtremasc,jdbcType=NUMERIC},
      </if>
      <if test="sexo != null" >
        #{sexo,jdbcType=CHAR},
      </if>
      <if test="correoEmpresa != null" >
        #{correoEmpresa,jdbcType=VARCHAR},
      </if>
      <if test="empresa != null" >
        #{empresa,jdbcType=VARCHAR},
      </if>
      <if test="dirempresa != null" >
        #{dirempresa,jdbcType=VARCHAR},
      </if>
      <if test="rucempresa != null" >
        #{rucempresa,jdbcType=VARCHAR},
      </if>
      <if test="telefono2 != null" >
        #{telefono2,jdbcType=VARCHAR},
      </if>
      <if test="correo2 != null" >
        #{correo2,jdbcType=VARCHAR},
      </if>
      <if test="coddestino != null" >
        #{coddestino,jdbcType=CHAR},
      </if>
      <if test="codigojefedirecto != null" >
        #{codigojefedirecto,jdbcType=CHAR},
      </if>
      <if test="zonaBono != null" >
        #{zonaBono,jdbcType=CHAR},
      </if>
      <if test="codventa != null" >
        #{codventa,jdbcType=VARCHAR},
      </if>
      <if test="codsede != null" >
        #{codsede,jdbcType=CHAR},
      </if>
      <if test="tipoComprobante != null" >
        #{tipoComprobante,jdbcType=CHAR},
      </if>
      <if test="biFecNumCam != null" >
        #{biFecNumCam,jdbcType=TIMESTAMP},
      </if>
      <if test="biCodIndCam != null" >
        #{biCodIndCam,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.j2techcon.bi.etl.domain.origen.PersonalExample" resultType="java.lang.Integer" >
    select count(*) from personal
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update personal
    <set >
      <if test="record.codigopersonal != null" >
        codigopersonal = #{record.codigopersonal,jdbcType=CHAR},
      </if>
      <if test="record.usuario != null" >
        usuario = #{record.usuario,jdbcType=VARCHAR},
      </if>
      <if test="record.tipopers != null" >
        tipopers = #{record.tipopers,jdbcType=CHAR},
      </if>
      <if test="record.codtipo != null" >
        codtipo = #{record.codtipo,jdbcType=CHAR},
      </if>
      <if test="record.coddepartamento != null" >
        coddepartamento = #{record.coddepartamento,jdbcType=CHAR},
      </if>
      <if test="record.codbanco != null" >
        codbanco = #{record.codbanco,jdbcType=CHAR},
      </if>
      <if test="record.tipopago != null" >
        tipopago = #{record.tipopago,jdbcType=CHAR},
      </if>
      <if test="record.nombre != null" >
        nombre = #{record.nombre,jdbcType=VARCHAR},
      </if>
      <if test="record.appaterno != null" >
        appaterno = #{record.appaterno,jdbcType=VARCHAR},
      </if>
      <if test="record.apmaterno != null" >
        apmaterno = #{record.apmaterno,jdbcType=VARCHAR},
      </if>
      <if test="record.nombres != null" >
        nombres = #{record.nombres,jdbcType=VARCHAR},
      </if>
      <if test="record.direccion != null" >
        direccion = #{record.direccion,jdbcType=VARCHAR},
      </if>
      <if test="record.ubigeo != null" >
        ubigeo = #{record.ubigeo,jdbcType=CHAR},
      </if>
      <if test="record.ubigeonac != null" >
        ubigeonac = #{record.ubigeonac,jdbcType=CHAR},
      </if>
      <if test="record.fechanac != null" >
        fechanac = #{record.fechanac,jdbcType=TIMESTAMP},
      </if>
      <if test="record.estadocivil != null" >
        estadocivil = #{record.estadocivil,jdbcType=CHAR},
      </if>
      <if test="record.dni != null" >
        dni = #{record.dni,jdbcType=VARCHAR},
      </if>
      <if test="record.lmilitar != null" >
        lmilitar = #{record.lmilitar,jdbcType=VARCHAR},
      </if>
      <if test="record.nroafp != null" >
        nroafp = #{record.nroafp,jdbcType=VARCHAR},
      </if>
      <if test="record.nroruc != null" >
        nroruc = #{record.nroruc,jdbcType=VARCHAR},
      </if>
      <if test="record.nrocuenta != null" >
        nrocuenta = #{record.nrocuenta,jdbcType=VARCHAR},
      </if>
      <if test="record.nroessalud != null" >
        nroessalud = #{record.nroessalud,jdbcType=VARCHAR},
      </if>
      <if test="record.telefono != null" >
        telefono = #{record.telefono,jdbcType=VARCHAR},
      </if>
      <if test="record.correo != null" >
        correo = #{record.correo,jdbcType=VARCHAR},
      </if>
      <if test="record.estadopersonal != null" >
        estadopersonal = #{record.estadopersonal,jdbcType=CHAR},
      </if>
      <if test="record.recomendo != null" >
        recomendo = #{record.recomendo,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.monto != null" >
        monto = #{record.monto,jdbcType=NUMERIC},
      </if>
      <if test="record.usuarioingeso != null" >
        usuarioingeso = #{record.usuarioingeso,jdbcType=CHAR},
      </if>
      <if test="record.fechaingreso != null" >
        fechaingreso = #{record.fechaingreso,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usuariomod != null" >
        usuariomod = #{record.usuariomod,jdbcType=CHAR},
      </if>
      <if test="record.fechamod != null" >
        fechamod = #{record.fechamod,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fechacese != null" >
        fechacese = #{record.fechacese,jdbcType=TIMESTAMP},
      </if>
      <if test="record.horaentrada != null" >
        horaentrada = #{record.horaentrada,jdbcType=VARCHAR},
      </if>
      <if test="record.tarifaUrbanacc != null" >
        tarifa_urbanacc = #{record.tarifaUrbanacc,jdbcType=NUMERIC},
      </if>
      <if test="record.tarifaUrbanasc != null" >
        tarifa_urbanasc = #{record.tarifaUrbanasc,jdbcType=NUMERIC},
      </if>
      <if test="record.codempresa != null" >
        codempresa = #{record.codempresa,jdbcType=CHAR},
      </if>
      <if test="record.codzona != null" >
        codzona = #{record.codzona,jdbcType=CHAR},
      </if>
      <if test="record.tarifaPerifericacc != null" >
        tarifa_perifericacc = #{record.tarifaPerifericacc,jdbcType=NUMERIC},
      </if>
      <if test="record.tarifaPerifericasc != null" >
        tarifa_perifericasc = #{record.tarifaPerifericasc,jdbcType=NUMERIC},
      </if>
      <if test="record.tarifaExtremacc != null" >
        tarifa_extremacc = #{record.tarifaExtremacc,jdbcType=NUMERIC},
      </if>
      <if test="record.tarifaExtremasc != null" >
        tarifa_extremasc = #{record.tarifaExtremasc,jdbcType=NUMERIC},
      </if>
      <if test="record.sexo != null" >
        sexo = #{record.sexo,jdbcType=CHAR},
      </if>
      <if test="record.correoEmpresa != null" >
        correo_empresa = #{record.correoEmpresa,jdbcType=VARCHAR},
      </if>
      <if test="record.empresa != null" >
        empresa = #{record.empresa,jdbcType=VARCHAR},
      </if>
      <if test="record.dirempresa != null" >
        dirempresa = #{record.dirempresa,jdbcType=VARCHAR},
      </if>
      <if test="record.rucempresa != null" >
        rucempresa = #{record.rucempresa,jdbcType=VARCHAR},
      </if>
      <if test="record.telefono2 != null" >
        telefono2 = #{record.telefono2,jdbcType=VARCHAR},
      </if>
      <if test="record.correo2 != null" >
        correo2 = #{record.correo2,jdbcType=VARCHAR},
      </if>
      <if test="record.coddestino != null" >
        coddestino = #{record.coddestino,jdbcType=CHAR},
      </if>
      <if test="record.codigojefedirecto != null" >
        codigojefedirecto = #{record.codigojefedirecto,jdbcType=CHAR},
      </if>
      <if test="record.zonaBono != null" >
        zona_bono = #{record.zonaBono,jdbcType=CHAR},
      </if>
      <if test="record.codventa != null" >
        codventa = #{record.codventa,jdbcType=VARCHAR},
      </if>
      <if test="record.codsede != null" >
        codsede = #{record.codsede,jdbcType=CHAR},
      </if>
      <if test="record.tipoComprobante != null" >
        tipo_comprobante = #{record.tipoComprobante,jdbcType=CHAR},
      </if>
      <if test="record.biFecNumCam != null" >
        bi_fec_num_cam = #{record.biFecNumCam,jdbcType=TIMESTAMP},
      </if>
      <if test="record.biCodIndCam != null" >
        bi_cod_ind_cam = #{record.biCodIndCam,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update personal
    set codigopersonal = #{record.codigopersonal,jdbcType=CHAR},
      usuario = #{record.usuario,jdbcType=VARCHAR},
      tipopers = #{record.tipopers,jdbcType=CHAR},
      codtipo = #{record.codtipo,jdbcType=CHAR},
      coddepartamento = #{record.coddepartamento,jdbcType=CHAR},
      codbanco = #{record.codbanco,jdbcType=CHAR},
      tipopago = #{record.tipopago,jdbcType=CHAR},
      nombre = #{record.nombre,jdbcType=VARCHAR},
      appaterno = #{record.appaterno,jdbcType=VARCHAR},
      apmaterno = #{record.apmaterno,jdbcType=VARCHAR},
      nombres = #{record.nombres,jdbcType=VARCHAR},
      direccion = #{record.direccion,jdbcType=VARCHAR},
      ubigeo = #{record.ubigeo,jdbcType=CHAR},
      ubigeonac = #{record.ubigeonac,jdbcType=CHAR},
      fechanac = #{record.fechanac,jdbcType=TIMESTAMP},
      estadocivil = #{record.estadocivil,jdbcType=CHAR},
      dni = #{record.dni,jdbcType=VARCHAR},
      lmilitar = #{record.lmilitar,jdbcType=VARCHAR},
      nroafp = #{record.nroafp,jdbcType=VARCHAR},
      nroruc = #{record.nroruc,jdbcType=VARCHAR},
      nrocuenta = #{record.nrocuenta,jdbcType=VARCHAR},
      nroessalud = #{record.nroessalud,jdbcType=VARCHAR},
      telefono = #{record.telefono,jdbcType=VARCHAR},
      correo = #{record.correo,jdbcType=VARCHAR},
      estadopersonal = #{record.estadopersonal,jdbcType=CHAR},
      recomendo = #{record.recomendo,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      monto = #{record.monto,jdbcType=NUMERIC},
      usuarioingeso = #{record.usuarioingeso,jdbcType=CHAR},
      fechaingreso = #{record.fechaingreso,jdbcType=TIMESTAMP},
      usuariomod = #{record.usuariomod,jdbcType=CHAR},
      fechamod = #{record.fechamod,jdbcType=TIMESTAMP},
      fechacese = #{record.fechacese,jdbcType=TIMESTAMP},
      horaentrada = #{record.horaentrada,jdbcType=VARCHAR},
      tarifa_urbanacc = #{record.tarifaUrbanacc,jdbcType=NUMERIC},
      tarifa_urbanasc = #{record.tarifaUrbanasc,jdbcType=NUMERIC},
      codempresa = #{record.codempresa,jdbcType=CHAR},
      codzona = #{record.codzona,jdbcType=CHAR},
      tarifa_perifericacc = #{record.tarifaPerifericacc,jdbcType=NUMERIC},
      tarifa_perifericasc = #{record.tarifaPerifericasc,jdbcType=NUMERIC},
      tarifa_extremacc = #{record.tarifaExtremacc,jdbcType=NUMERIC},
      tarifa_extremasc = #{record.tarifaExtremasc,jdbcType=NUMERIC},
      sexo = #{record.sexo,jdbcType=CHAR},
      correo_empresa = #{record.correoEmpresa,jdbcType=VARCHAR},
      empresa = #{record.empresa,jdbcType=VARCHAR},
      dirempresa = #{record.dirempresa,jdbcType=VARCHAR},
      rucempresa = #{record.rucempresa,jdbcType=VARCHAR},
      telefono2 = #{record.telefono2,jdbcType=VARCHAR},
      correo2 = #{record.correo2,jdbcType=VARCHAR},
      coddestino = #{record.coddestino,jdbcType=CHAR},
      codigojefedirecto = #{record.codigojefedirecto,jdbcType=CHAR},
      zona_bono = #{record.zonaBono,jdbcType=CHAR},
      codventa = #{record.codventa,jdbcType=VARCHAR},
      codsede = #{record.codsede,jdbcType=CHAR},
      tipo_comprobante = #{record.tipoComprobante,jdbcType=CHAR},
      bi_fec_num_cam = #{record.biFecNumCam,jdbcType=TIMESTAMP},
      bi_cod_ind_cam = #{record.biCodIndCam,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.com.j2techcon.bi.etl.domain.origen.Personal" >
    update personal
    <set >
      <if test="usuario != null" >
        usuario = #{usuario,jdbcType=VARCHAR},
      </if>
      <if test="tipopers != null" >
        tipopers = #{tipopers,jdbcType=CHAR},
      </if>
      <if test="codtipo != null" >
        codtipo = #{codtipo,jdbcType=CHAR},
      </if>
      <if test="coddepartamento != null" >
        coddepartamento = #{coddepartamento,jdbcType=CHAR},
      </if>
      <if test="codbanco != null" >
        codbanco = #{codbanco,jdbcType=CHAR},
      </if>
      <if test="tipopago != null" >
        tipopago = #{tipopago,jdbcType=CHAR},
      </if>
      <if test="nombre != null" >
        nombre = #{nombre,jdbcType=VARCHAR},
      </if>
      <if test="appaterno != null" >
        appaterno = #{appaterno,jdbcType=VARCHAR},
      </if>
      <if test="apmaterno != null" >
        apmaterno = #{apmaterno,jdbcType=VARCHAR},
      </if>
      <if test="nombres != null" >
        nombres = #{nombres,jdbcType=VARCHAR},
      </if>
      <if test="direccion != null" >
        direccion = #{direccion,jdbcType=VARCHAR},
      </if>
      <if test="ubigeo != null" >
        ubigeo = #{ubigeo,jdbcType=CHAR},
      </if>
      <if test="ubigeonac != null" >
        ubigeonac = #{ubigeonac,jdbcType=CHAR},
      </if>
      <if test="fechanac != null" >
        fechanac = #{fechanac,jdbcType=TIMESTAMP},
      </if>
      <if test="estadocivil != null" >
        estadocivil = #{estadocivil,jdbcType=CHAR},
      </if>
      <if test="dni != null" >
        dni = #{dni,jdbcType=VARCHAR},
      </if>
      <if test="lmilitar != null" >
        lmilitar = #{lmilitar,jdbcType=VARCHAR},
      </if>
      <if test="nroafp != null" >
        nroafp = #{nroafp,jdbcType=VARCHAR},
      </if>
      <if test="nroruc != null" >
        nroruc = #{nroruc,jdbcType=VARCHAR},
      </if>
      <if test="nrocuenta != null" >
        nrocuenta = #{nrocuenta,jdbcType=VARCHAR},
      </if>
      <if test="nroessalud != null" >
        nroessalud = #{nroessalud,jdbcType=VARCHAR},
      </if>
      <if test="telefono != null" >
        telefono = #{telefono,jdbcType=VARCHAR},
      </if>
      <if test="correo != null" >
        correo = #{correo,jdbcType=VARCHAR},
      </if>
      <if test="estadopersonal != null" >
        estadopersonal = #{estadopersonal,jdbcType=CHAR},
      </if>
      <if test="recomendo != null" >
        recomendo = #{recomendo,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="monto != null" >
        monto = #{monto,jdbcType=NUMERIC},
      </if>
      <if test="usuarioingeso != null" >
        usuarioingeso = #{usuarioingeso,jdbcType=CHAR},
      </if>
      <if test="fechaingreso != null" >
        fechaingreso = #{fechaingreso,jdbcType=TIMESTAMP},
      </if>
      <if test="usuariomod != null" >
        usuariomod = #{usuariomod,jdbcType=CHAR},
      </if>
      <if test="fechamod != null" >
        fechamod = #{fechamod,jdbcType=TIMESTAMP},
      </if>
      <if test="fechacese != null" >
        fechacese = #{fechacese,jdbcType=TIMESTAMP},
      </if>
      <if test="horaentrada != null" >
        horaentrada = #{horaentrada,jdbcType=VARCHAR},
      </if>
      <if test="tarifaUrbanacc != null" >
        tarifa_urbanacc = #{tarifaUrbanacc,jdbcType=NUMERIC},
      </if>
      <if test="tarifaUrbanasc != null" >
        tarifa_urbanasc = #{tarifaUrbanasc,jdbcType=NUMERIC},
      </if>
      <if test="codempresa != null" >
        codempresa = #{codempresa,jdbcType=CHAR},
      </if>
      <if test="codzona != null" >
        codzona = #{codzona,jdbcType=CHAR},
      </if>
      <if test="tarifaPerifericacc != null" >
        tarifa_perifericacc = #{tarifaPerifericacc,jdbcType=NUMERIC},
      </if>
      <if test="tarifaPerifericasc != null" >
        tarifa_perifericasc = #{tarifaPerifericasc,jdbcType=NUMERIC},
      </if>
      <if test="tarifaExtremacc != null" >
        tarifa_extremacc = #{tarifaExtremacc,jdbcType=NUMERIC},
      </if>
      <if test="tarifaExtremasc != null" >
        tarifa_extremasc = #{tarifaExtremasc,jdbcType=NUMERIC},
      </if>
      <if test="sexo != null" >
        sexo = #{sexo,jdbcType=CHAR},
      </if>
      <if test="correoEmpresa != null" >
        correo_empresa = #{correoEmpresa,jdbcType=VARCHAR},
      </if>
      <if test="empresa != null" >
        empresa = #{empresa,jdbcType=VARCHAR},
      </if>
      <if test="dirempresa != null" >
        dirempresa = #{dirempresa,jdbcType=VARCHAR},
      </if>
      <if test="rucempresa != null" >
        rucempresa = #{rucempresa,jdbcType=VARCHAR},
      </if>
      <if test="telefono2 != null" >
        telefono2 = #{telefono2,jdbcType=VARCHAR},
      </if>
      <if test="correo2 != null" >
        correo2 = #{correo2,jdbcType=VARCHAR},
      </if>
      <if test="coddestino != null" >
        coddestino = #{coddestino,jdbcType=CHAR},
      </if>
      <if test="codigojefedirecto != null" >
        codigojefedirecto = #{codigojefedirecto,jdbcType=CHAR},
      </if>
      <if test="zonaBono != null" >
        zona_bono = #{zonaBono,jdbcType=CHAR},
      </if>
      <if test="codventa != null" >
        codventa = #{codventa,jdbcType=VARCHAR},
      </if>
      <if test="codsede != null" >
        codsede = #{codsede,jdbcType=CHAR},
      </if>
      <if test="tipoComprobante != null" >
        tipo_comprobante = #{tipoComprobante,jdbcType=CHAR},
      </if>
      <if test="biFecNumCam != null" >
        bi_fec_num_cam = #{biFecNumCam,jdbcType=TIMESTAMP},
      </if>
      <if test="biCodIndCam != null" >
        bi_cod_ind_cam = #{biCodIndCam,jdbcType=CHAR},
      </if>
    </set>
    where codigopersonal = #{codigopersonal,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.com.j2techcon.bi.etl.domain.origen.Personal" >
    update personal
    set usuario = #{usuario,jdbcType=VARCHAR},
      tipopers = #{tipopers,jdbcType=CHAR},
      codtipo = #{codtipo,jdbcType=CHAR},
      coddepartamento = #{coddepartamento,jdbcType=CHAR},
      codbanco = #{codbanco,jdbcType=CHAR},
      tipopago = #{tipopago,jdbcType=CHAR},
      nombre = #{nombre,jdbcType=VARCHAR},
      appaterno = #{appaterno,jdbcType=VARCHAR},
      apmaterno = #{apmaterno,jdbcType=VARCHAR},
      nombres = #{nombres,jdbcType=VARCHAR},
      direccion = #{direccion,jdbcType=VARCHAR},
      ubigeo = #{ubigeo,jdbcType=CHAR},
      ubigeonac = #{ubigeonac,jdbcType=CHAR},
      fechanac = #{fechanac,jdbcType=TIMESTAMP},
      estadocivil = #{estadocivil,jdbcType=CHAR},
      dni = #{dni,jdbcType=VARCHAR},
      lmilitar = #{lmilitar,jdbcType=VARCHAR},
      nroafp = #{nroafp,jdbcType=VARCHAR},
      nroruc = #{nroruc,jdbcType=VARCHAR},
      nrocuenta = #{nrocuenta,jdbcType=VARCHAR},
      nroessalud = #{nroessalud,jdbcType=VARCHAR},
      telefono = #{telefono,jdbcType=VARCHAR},
      correo = #{correo,jdbcType=VARCHAR},
      estadopersonal = #{estadopersonal,jdbcType=CHAR},
      recomendo = #{recomendo,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      monto = #{monto,jdbcType=NUMERIC},
      usuarioingeso = #{usuarioingeso,jdbcType=CHAR},
      fechaingreso = #{fechaingreso,jdbcType=TIMESTAMP},
      usuariomod = #{usuariomod,jdbcType=CHAR},
      fechamod = #{fechamod,jdbcType=TIMESTAMP},
      fechacese = #{fechacese,jdbcType=TIMESTAMP},
      horaentrada = #{horaentrada,jdbcType=VARCHAR},
      tarifa_urbanacc = #{tarifaUrbanacc,jdbcType=NUMERIC},
      tarifa_urbanasc = #{tarifaUrbanasc,jdbcType=NUMERIC},
      codempresa = #{codempresa,jdbcType=CHAR},
      codzona = #{codzona,jdbcType=CHAR},
      tarifa_perifericacc = #{tarifaPerifericacc,jdbcType=NUMERIC},
      tarifa_perifericasc = #{tarifaPerifericasc,jdbcType=NUMERIC},
      tarifa_extremacc = #{tarifaExtremacc,jdbcType=NUMERIC},
      tarifa_extremasc = #{tarifaExtremasc,jdbcType=NUMERIC},
      sexo = #{sexo,jdbcType=CHAR},
      correo_empresa = #{correoEmpresa,jdbcType=VARCHAR},
      empresa = #{empresa,jdbcType=VARCHAR},
      dirempresa = #{dirempresa,jdbcType=VARCHAR},
      rucempresa = #{rucempresa,jdbcType=VARCHAR},
      telefono2 = #{telefono2,jdbcType=VARCHAR},
      correo2 = #{correo2,jdbcType=VARCHAR},
      coddestino = #{coddestino,jdbcType=CHAR},
      codigojefedirecto = #{codigojefedirecto,jdbcType=CHAR},
      zona_bono = #{zonaBono,jdbcType=CHAR},
      codventa = #{codventa,jdbcType=VARCHAR},
      codsede = #{codsede,jdbcType=CHAR},
      tipo_comprobante = #{tipoComprobante,jdbcType=CHAR},
      bi_fec_num_cam = #{biFecNumCam,jdbcType=TIMESTAMP},
      bi_cod_ind_cam = #{biCodIndCam,jdbcType=CHAR}
    where codigopersonal = #{codigopersonal,jdbcType=CHAR}
  </update>
</mapper>