<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.j2techcon.bi.etl.dao.origen.TProductosMapper" >
  <resultMap id="BaseResultMap" type="pe.com.j2techcon.bi.etl.domain.origen.TProductos" >
    <id column="codproducto" property="codproducto" jdbcType="CHAR" />
    <result column="producto" property="producto" jdbcType="VARCHAR" />
    <result column="codnegocio" property="codnegocio" jdbcType="CHAR" />
    <result column="codambito" property="codambito" jdbcType="CHAR" />
    <result column="estado" property="estado" jdbcType="SMALLINT" />
    <result column="usuario" property="usuario" jdbcType="CHAR" />
    <result column="usuariomod" property="usuariomod" jdbcType="CHAR" />
    <result column="codcliente" property="codcliente" jdbcType="CHAR" />
    <result column="tipoproducto" property="tipoproducto" jdbcType="CHAR" />
    <result column="fecha" property="fecha" jdbcType="TIMESTAMP" />
    <result column="fechamod" property="fechamod" jdbcType="TIMESTAMP" />
    <result column="obs" property="obs" jdbcType="VARCHAR" />
    <result column="bi_fec_num_cam" property="biFecNumCam" jdbcType="TIMESTAMP" />
    <result column="bi_cod_ind_cam" property="biCodIndCam" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    codproducto, producto, codnegocio, codambito, estado, usuario, usuariomod, codcliente, 
    tipoproducto, fecha, fechamod, obs, bi_fec_num_cam, bi_cod_ind_cam
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.j2techcon.bi.etl.domain.origen.TProductosExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_productos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="paginationByClause != null" >
      ${paginationByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_productos
    where codproducto = #{codproducto,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_productos
    where codproducto = #{codproducto,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="pe.com.j2techcon.bi.etl.domain.origen.TProductosExample" >
    delete from t_productos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.j2techcon.bi.etl.domain.origen.TProductos" >
    insert into t_productos (codproducto, producto, codnegocio, 
      codambito, estado, usuario, 
      usuariomod, codcliente, tipoproducto, 
      fecha, fechamod, obs, 
      bi_fec_num_cam, bi_cod_ind_cam)
    values (#{codproducto,jdbcType=CHAR}, #{producto,jdbcType=VARCHAR}, #{codnegocio,jdbcType=CHAR}, 
      #{codambito,jdbcType=CHAR}, #{estado,jdbcType=SMALLINT}, #{usuario,jdbcType=CHAR}, 
      #{usuariomod,jdbcType=CHAR}, #{codcliente,jdbcType=CHAR}, #{tipoproducto,jdbcType=CHAR}, 
      #{fecha,jdbcType=TIMESTAMP}, #{fechamod,jdbcType=TIMESTAMP}, #{obs,jdbcType=VARCHAR}, 
      #{biFecNumCam,jdbcType=TIMESTAMP}, #{biCodIndCam,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="pe.com.j2techcon.bi.etl.domain.origen.TProductos" >
    insert into t_productos
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="codproducto != null" >
        codproducto,
      </if>
      <if test="producto != null" >
        producto,
      </if>
      <if test="codnegocio != null" >
        codnegocio,
      </if>
      <if test="codambito != null" >
        codambito,
      </if>
      <if test="estado != null" >
        estado,
      </if>
      <if test="usuario != null" >
        usuario,
      </if>
      <if test="usuariomod != null" >
        usuariomod,
      </if>
      <if test="codcliente != null" >
        codcliente,
      </if>
      <if test="tipoproducto != null" >
        tipoproducto,
      </if>
      <if test="fecha != null" >
        fecha,
      </if>
      <if test="fechamod != null" >
        fechamod,
      </if>
      <if test="obs != null" >
        obs,
      </if>
      <if test="biFecNumCam != null" >
        bi_fec_num_cam,
      </if>
      <if test="biCodIndCam != null" >
        bi_cod_ind_cam,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="codproducto != null" >
        #{codproducto,jdbcType=CHAR},
      </if>
      <if test="producto != null" >
        #{producto,jdbcType=VARCHAR},
      </if>
      <if test="codnegocio != null" >
        #{codnegocio,jdbcType=CHAR},
      </if>
      <if test="codambito != null" >
        #{codambito,jdbcType=CHAR},
      </if>
      <if test="estado != null" >
        #{estado,jdbcType=SMALLINT},
      </if>
      <if test="usuario != null" >
        #{usuario,jdbcType=CHAR},
      </if>
      <if test="usuariomod != null" >
        #{usuariomod,jdbcType=CHAR},
      </if>
      <if test="codcliente != null" >
        #{codcliente,jdbcType=CHAR},
      </if>
      <if test="tipoproducto != null" >
        #{tipoproducto,jdbcType=CHAR},
      </if>
      <if test="fecha != null" >
        #{fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="fechamod != null" >
        #{fechamod,jdbcType=TIMESTAMP},
      </if>
      <if test="obs != null" >
        #{obs,jdbcType=VARCHAR},
      </if>
      <if test="biFecNumCam != null" >
        #{biFecNumCam,jdbcType=TIMESTAMP},
      </if>
      <if test="biCodIndCam != null" >
        #{biCodIndCam,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.j2techcon.bi.etl.domain.origen.TProductosExample" resultType="java.lang.Integer" >
    select count(*) from t_productos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_productos
    <set >
      <if test="record.codproducto != null" >
        codproducto = #{record.codproducto,jdbcType=CHAR},
      </if>
      <if test="record.producto != null" >
        producto = #{record.producto,jdbcType=VARCHAR},
      </if>
      <if test="record.codnegocio != null" >
        codnegocio = #{record.codnegocio,jdbcType=CHAR},
      </if>
      <if test="record.codambito != null" >
        codambito = #{record.codambito,jdbcType=CHAR},
      </if>
      <if test="record.estado != null" >
        estado = #{record.estado,jdbcType=SMALLINT},
      </if>
      <if test="record.usuario != null" >
        usuario = #{record.usuario,jdbcType=CHAR},
      </if>
      <if test="record.usuariomod != null" >
        usuariomod = #{record.usuariomod,jdbcType=CHAR},
      </if>
      <if test="record.codcliente != null" >
        codcliente = #{record.codcliente,jdbcType=CHAR},
      </if>
      <if test="record.tipoproducto != null" >
        tipoproducto = #{record.tipoproducto,jdbcType=CHAR},
      </if>
      <if test="record.fecha != null" >
        fecha = #{record.fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fechamod != null" >
        fechamod = #{record.fechamod,jdbcType=TIMESTAMP},
      </if>
      <if test="record.obs != null" >
        obs = #{record.obs,jdbcType=VARCHAR},
      </if>
      <if test="record.biFecNumCam != null" >
        bi_fec_num_cam = #{record.biFecNumCam,jdbcType=TIMESTAMP},
      </if>
      <if test="record.biCodIndCam != null" >
        bi_cod_ind_cam = #{record.biCodIndCam,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_productos
    set codproducto = #{record.codproducto,jdbcType=CHAR},
      producto = #{record.producto,jdbcType=VARCHAR},
      codnegocio = #{record.codnegocio,jdbcType=CHAR},
      codambito = #{record.codambito,jdbcType=CHAR},
      estado = #{record.estado,jdbcType=SMALLINT},
      usuario = #{record.usuario,jdbcType=CHAR},
      usuariomod = #{record.usuariomod,jdbcType=CHAR},
      codcliente = #{record.codcliente,jdbcType=CHAR},
      tipoproducto = #{record.tipoproducto,jdbcType=CHAR},
      fecha = #{record.fecha,jdbcType=TIMESTAMP},
      fechamod = #{record.fechamod,jdbcType=TIMESTAMP},
      obs = #{record.obs,jdbcType=VARCHAR},
      bi_fec_num_cam = #{record.biFecNumCam,jdbcType=TIMESTAMP},
      bi_cod_ind_cam = #{record.biCodIndCam,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.com.j2techcon.bi.etl.domain.origen.TProductos" >
    update t_productos
    <set >
      <if test="producto != null" >
        producto = #{producto,jdbcType=VARCHAR},
      </if>
      <if test="codnegocio != null" >
        codnegocio = #{codnegocio,jdbcType=CHAR},
      </if>
      <if test="codambito != null" >
        codambito = #{codambito,jdbcType=CHAR},
      </if>
      <if test="estado != null" >
        estado = #{estado,jdbcType=SMALLINT},
      </if>
      <if test="usuario != null" >
        usuario = #{usuario,jdbcType=CHAR},
      </if>
      <if test="usuariomod != null" >
        usuariomod = #{usuariomod,jdbcType=CHAR},
      </if>
      <if test="codcliente != null" >
        codcliente = #{codcliente,jdbcType=CHAR},
      </if>
      <if test="tipoproducto != null" >
        tipoproducto = #{tipoproducto,jdbcType=CHAR},
      </if>
      <if test="fecha != null" >
        fecha = #{fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="fechamod != null" >
        fechamod = #{fechamod,jdbcType=TIMESTAMP},
      </if>
      <if test="obs != null" >
        obs = #{obs,jdbcType=VARCHAR},
      </if>
      <if test="biFecNumCam != null" >
        bi_fec_num_cam = #{biFecNumCam,jdbcType=TIMESTAMP},
      </if>
      <if test="biCodIndCam != null" >
        bi_cod_ind_cam = #{biCodIndCam,jdbcType=CHAR},
      </if>
    </set>
    where codproducto = #{codproducto,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.com.j2techcon.bi.etl.domain.origen.TProductos" >
    update t_productos
    set producto = #{producto,jdbcType=VARCHAR},
      codnegocio = #{codnegocio,jdbcType=CHAR},
      codambito = #{codambito,jdbcType=CHAR},
      estado = #{estado,jdbcType=SMALLINT},
      usuario = #{usuario,jdbcType=CHAR},
      usuariomod = #{usuariomod,jdbcType=CHAR},
      codcliente = #{codcliente,jdbcType=CHAR},
      tipoproducto = #{tipoproducto,jdbcType=CHAR},
      fecha = #{fecha,jdbcType=TIMESTAMP},
      fechamod = #{fechamod,jdbcType=TIMESTAMP},
      obs = #{obs,jdbcType=VARCHAR},
      bi_fec_num_cam = #{biFecNumCam,jdbcType=TIMESTAMP},
      bi_cod_ind_cam = #{biCodIndCam,jdbcType=CHAR}
    where codproducto = #{codproducto,jdbcType=CHAR}
  </update>
</mapper>