<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zonas" >
  <resultMap id="BaseResultMap" type="pe.com.j2techcon.bi.etl.domain.origen.Zonas" >
    <id column="codzona" property="codzona" jdbcType="CHAR" />
    <result column="codpostal" property="codpostal" jdbcType="CHAR" />
    <result column="codclasificador" property="codclasificador" jdbcType="CHAR" />
    <result column="bonozona" property="bonozona" jdbcType="CHAR" />
    <result column="descripcion" property="descripcion" jdbcType="VARCHAR" />
    <result column="pasaje" property="pasaje" jdbcType="NUMERIC" />
    <result column="monto" property="monto" jdbcType="NUMERIC" />
    <result column="fecha" property="fecha" jdbcType="TIMESTAMP" />
    <result column="usuariomod" property="usuariomod" jdbcType="CHAR" />
    <result column="fechamod" property="fechamod" jdbcType="TIMESTAMP" />
    <result column="estado" property="estado" jdbcType="SMALLINT" />
    <result column="usuario" property="usuario" jdbcType="CHAR" />
    <result column="bono" property="bono" jdbcType="NUMERIC" />
    <result column="efectividad" property="efectividad" jdbcType="SMALLINT" />
    <result column="ubigeo" property="ubigeo" jdbcType="CHAR" />
    <result column="tipozona" property="tipozona" jdbcType="CHAR" />
    <result column="cantidad" property="cantidad" jdbcType="SMALLINT" />
    <result column="bi_fec_num_cam" property="biFecNumCam" jdbcType="TIMESTAMP" />
    <result column="bi_cod_ind_cam" property="biCodIndCam" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    codzona, codpostal, codclasificador, bonozona, descripcion, pasaje, monto, fecha, 
    usuariomod, fechamod, estado, usuario, bono, efectividad, ubigeo, tipozona, cantidad, 
    bi_fec_num_cam, bi_cod_ind_cam
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.j2techcon.bi.etl.domain.origen.ZonasExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zonas
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="paginationByClause != null" >
      ${paginationByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zonas
    where codzona = #{codzona,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zonas
    where codzona = #{codzona,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="pe.com.j2techcon.bi.etl.domain.origen.ZonasExample" >
    delete from zonas
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.j2techcon.bi.etl.domain.origen.Zonas" >
    insert into zonas (codzona, codpostal, codclasificador, 
      bonozona, descripcion, pasaje, 
      monto, fecha, usuariomod, 
      fechamod, estado, usuario, 
      bono, efectividad, ubigeo, 
      tipozona, cantidad, bi_fec_num_cam, 
      bi_cod_ind_cam)
    values (#{codzona,jdbcType=CHAR}, #{codpostal,jdbcType=CHAR}, #{codclasificador,jdbcType=CHAR}, 
      #{bonozona,jdbcType=CHAR}, #{descripcion,jdbcType=VARCHAR}, #{pasaje,jdbcType=NUMERIC}, 
      #{monto,jdbcType=NUMERIC}, #{fecha,jdbcType=TIMESTAMP}, #{usuariomod,jdbcType=CHAR}, 
      #{fechamod,jdbcType=TIMESTAMP}, #{estado,jdbcType=SMALLINT}, #{usuario,jdbcType=CHAR}, 
      #{bono,jdbcType=NUMERIC}, #{efectividad,jdbcType=SMALLINT}, #{ubigeo,jdbcType=CHAR}, 
      #{tipozona,jdbcType=CHAR}, #{cantidad,jdbcType=SMALLINT}, #{biFecNumCam,jdbcType=TIMESTAMP}, 
      #{biCodIndCam,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="pe.com.j2techcon.bi.etl.domain.origen.Zonas" >
    insert into zonas
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="codzona != null" >
        codzona,
      </if>
      <if test="codpostal != null" >
        codpostal,
      </if>
      <if test="codclasificador != null" >
        codclasificador,
      </if>
      <if test="bonozona != null" >
        bonozona,
      </if>
      <if test="descripcion != null" >
        descripcion,
      </if>
      <if test="pasaje != null" >
        pasaje,
      </if>
      <if test="monto != null" >
        monto,
      </if>
      <if test="fecha != null" >
        fecha,
      </if>
      <if test="usuariomod != null" >
        usuariomod,
      </if>
      <if test="fechamod != null" >
        fechamod,
      </if>
      <if test="estado != null" >
        estado,
      </if>
      <if test="usuario != null" >
        usuario,
      </if>
      <if test="bono != null" >
        bono,
      </if>
      <if test="efectividad != null" >
        efectividad,
      </if>
      <if test="ubigeo != null" >
        ubigeo,
      </if>
      <if test="tipozona != null" >
        tipozona,
      </if>
      <if test="cantidad != null" >
        cantidad,
      </if>
      <if test="biFecNumCam != null" >
        bi_fec_num_cam,
      </if>
      <if test="biCodIndCam != null" >
        bi_cod_ind_cam,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="codzona != null" >
        #{codzona,jdbcType=CHAR},
      </if>
      <if test="codpostal != null" >
        #{codpostal,jdbcType=CHAR},
      </if>
      <if test="codclasificador != null" >
        #{codclasificador,jdbcType=CHAR},
      </if>
      <if test="bonozona != null" >
        #{bonozona,jdbcType=CHAR},
      </if>
      <if test="descripcion != null" >
        #{descripcion,jdbcType=VARCHAR},
      </if>
      <if test="pasaje != null" >
        #{pasaje,jdbcType=NUMERIC},
      </if>
      <if test="monto != null" >
        #{monto,jdbcType=NUMERIC},
      </if>
      <if test="fecha != null" >
        #{fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="usuariomod != null" >
        #{usuariomod,jdbcType=CHAR},
      </if>
      <if test="fechamod != null" >
        #{fechamod,jdbcType=TIMESTAMP},
      </if>
      <if test="estado != null" >
        #{estado,jdbcType=SMALLINT},
      </if>
      <if test="usuario != null" >
        #{usuario,jdbcType=CHAR},
      </if>
      <if test="bono != null" >
        #{bono,jdbcType=NUMERIC},
      </if>
      <if test="efectividad != null" >
        #{efectividad,jdbcType=SMALLINT},
      </if>
      <if test="ubigeo != null" >
        #{ubigeo,jdbcType=CHAR},
      </if>
      <if test="tipozona != null" >
        #{tipozona,jdbcType=CHAR},
      </if>
      <if test="cantidad != null" >
        #{cantidad,jdbcType=SMALLINT},
      </if>
      <if test="biFecNumCam != null" >
        #{biFecNumCam,jdbcType=TIMESTAMP},
      </if>
      <if test="biCodIndCam != null" >
        #{biCodIndCam,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.j2techcon.bi.etl.domain.origen.ZonasExample" resultType="java.lang.Integer" >
    select count(*) from zonas
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update zonas
    <set >
      <if test="record.codzona != null" >
        codzona = #{record.codzona,jdbcType=CHAR},
      </if>
      <if test="record.codpostal != null" >
        codpostal = #{record.codpostal,jdbcType=CHAR},
      </if>
      <if test="record.codclasificador != null" >
        codclasificador = #{record.codclasificador,jdbcType=CHAR},
      </if>
      <if test="record.bonozona != null" >
        bonozona = #{record.bonozona,jdbcType=CHAR},
      </if>
      <if test="record.descripcion != null" >
        descripcion = #{record.descripcion,jdbcType=VARCHAR},
      </if>
      <if test="record.pasaje != null" >
        pasaje = #{record.pasaje,jdbcType=NUMERIC},
      </if>
      <if test="record.monto != null" >
        monto = #{record.monto,jdbcType=NUMERIC},
      </if>
      <if test="record.fecha != null" >
        fecha = #{record.fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usuariomod != null" >
        usuariomod = #{record.usuariomod,jdbcType=CHAR},
      </if>
      <if test="record.fechamod != null" >
        fechamod = #{record.fechamod,jdbcType=TIMESTAMP},
      </if>
      <if test="record.estado != null" >
        estado = #{record.estado,jdbcType=SMALLINT},
      </if>
      <if test="record.usuario != null" >
        usuario = #{record.usuario,jdbcType=CHAR},
      </if>
      <if test="record.bono != null" >
        bono = #{record.bono,jdbcType=NUMERIC},
      </if>
      <if test="record.efectividad != null" >
        efectividad = #{record.efectividad,jdbcType=SMALLINT},
      </if>
      <if test="record.ubigeo != null" >
        ubigeo = #{record.ubigeo,jdbcType=CHAR},
      </if>
      <if test="record.tipozona != null" >
        tipozona = #{record.tipozona,jdbcType=CHAR},
      </if>
      <if test="record.cantidad != null" >
        cantidad = #{record.cantidad,jdbcType=SMALLINT},
      </if>
      <if test="record.biFecNumCam != null" >
        bi_fec_num_cam = #{record.biFecNumCam,jdbcType=TIMESTAMP},
      </if>
      <if test="record.biCodIndCam != null" >
        bi_cod_ind_cam = #{record.biCodIndCam,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update zonas
    set codzona = #{record.codzona,jdbcType=CHAR},
      codpostal = #{record.codpostal,jdbcType=CHAR},
      codclasificador = #{record.codclasificador,jdbcType=CHAR},
      bonozona = #{record.bonozona,jdbcType=CHAR},
      descripcion = #{record.descripcion,jdbcType=VARCHAR},
      pasaje = #{record.pasaje,jdbcType=NUMERIC},
      monto = #{record.monto,jdbcType=NUMERIC},
      fecha = #{record.fecha,jdbcType=TIMESTAMP},
      usuariomod = #{record.usuariomod,jdbcType=CHAR},
      fechamod = #{record.fechamod,jdbcType=TIMESTAMP},
      estado = #{record.estado,jdbcType=SMALLINT},
      usuario = #{record.usuario,jdbcType=CHAR},
      bono = #{record.bono,jdbcType=NUMERIC},
      efectividad = #{record.efectividad,jdbcType=SMALLINT},
      ubigeo = #{record.ubigeo,jdbcType=CHAR},
      tipozona = #{record.tipozona,jdbcType=CHAR},
      cantidad = #{record.cantidad,jdbcType=SMALLINT},
      bi_fec_num_cam = #{record.biFecNumCam,jdbcType=TIMESTAMP},
      bi_cod_ind_cam = #{record.biCodIndCam,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.com.j2techcon.bi.etl.domain.origen.Zonas" >
    update zonas
    <set >
      <if test="codpostal != null" >
        codpostal = #{codpostal,jdbcType=CHAR},
      </if>
      <if test="codclasificador != null" >
        codclasificador = #{codclasificador,jdbcType=CHAR},
      </if>
      <if test="bonozona != null" >
        bonozona = #{bonozona,jdbcType=CHAR},
      </if>
      <if test="descripcion != null" >
        descripcion = #{descripcion,jdbcType=VARCHAR},
      </if>
      <if test="pasaje != null" >
        pasaje = #{pasaje,jdbcType=NUMERIC},
      </if>
      <if test="monto != null" >
        monto = #{monto,jdbcType=NUMERIC},
      </if>
      <if test="fecha != null" >
        fecha = #{fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="usuariomod != null" >
        usuariomod = #{usuariomod,jdbcType=CHAR},
      </if>
      <if test="fechamod != null" >
        fechamod = #{fechamod,jdbcType=TIMESTAMP},
      </if>
      <if test="estado != null" >
        estado = #{estado,jdbcType=SMALLINT},
      </if>
      <if test="usuario != null" >
        usuario = #{usuario,jdbcType=CHAR},
      </if>
      <if test="bono != null" >
        bono = #{bono,jdbcType=NUMERIC},
      </if>
      <if test="efectividad != null" >
        efectividad = #{efectividad,jdbcType=SMALLINT},
      </if>
      <if test="ubigeo != null" >
        ubigeo = #{ubigeo,jdbcType=CHAR},
      </if>
      <if test="tipozona != null" >
        tipozona = #{tipozona,jdbcType=CHAR},
      </if>
      <if test="cantidad != null" >
        cantidad = #{cantidad,jdbcType=SMALLINT},
      </if>
      <if test="biFecNumCam != null" >
        bi_fec_num_cam = #{biFecNumCam,jdbcType=TIMESTAMP},
      </if>
      <if test="biCodIndCam != null" >
        bi_cod_ind_cam = #{biCodIndCam,jdbcType=CHAR},
      </if>
    </set>
    where codzona = #{codzona,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.com.j2techcon.bi.etl.domain.origen.Zonas" >
    update zonas
    set codpostal = #{codpostal,jdbcType=CHAR},
      codclasificador = #{codclasificador,jdbcType=CHAR},
      bonozona = #{bonozona,jdbcType=CHAR},
      descripcion = #{descripcion,jdbcType=VARCHAR},
      pasaje = #{pasaje,jdbcType=NUMERIC},
      monto = #{monto,jdbcType=NUMERIC},
      fecha = #{fecha,jdbcType=TIMESTAMP},
      usuariomod = #{usuariomod,jdbcType=CHAR},
      fechamod = #{fechamod,jdbcType=TIMESTAMP},
      estado = #{estado,jdbcType=SMALLINT},
      usuario = #{usuario,jdbcType=CHAR},
      bono = #{bono,jdbcType=NUMERIC},
      efectividad = #{efectividad,jdbcType=SMALLINT},
      ubigeo = #{ubigeo,jdbcType=CHAR},
      tipozona = #{tipozona,jdbcType=CHAR},
      cantidad = #{cantidad,jdbcType=SMALLINT},
      bi_fec_num_cam = #{biFecNumCam,jdbcType=TIMESTAMP},
      bi_cod_ind_cam = #{biCodIndCam,jdbcType=CHAR}
    where codzona = #{codzona,jdbcType=CHAR}
  </update>
</mapper>