<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.j2techcon.bi.etl.dao.generic.TProductoMapper" >
  <resultMap id="BaseResultMap" type="pe.com.j2techcon.bi.etl.domain.generic.TProducto" >
    <id column="prod_id" property="prodId" jdbcType="INTEGER" />
    <result column="prod_cod_tip" property="prodCodTip" jdbcType="INTEGER" />
    <result column="prod_cod_amb" property="prodCodAmb" jdbcType="INTEGER" />
    <result column="prod_cod_neg" property="prodCodNeg" jdbcType="INTEGER" />
    <result column="prod_cod" property="prodCod" jdbcType="VARCHAR" />
    <result column="prod_des" property="prodDes" jdbcType="VARCHAR" />
    <result column="prod_pre" property="prodPre" jdbcType="NUMERIC" />
    <result column="fec_num_cam" property="fecNumCam" jdbcType="BIGINT" />
    <result column="cod_ind_cam" property="codIndCam" jdbcType="CHAR" />
    <result column="proc_id" property="procId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    prod_id, prod_cod_tip, prod_cod_amb, prod_cod_neg, prod_cod, prod_des, prod_pre, 
    fec_num_cam, cod_ind_cam, proc_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TProductoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_producto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="paginationByClause != null" >
      ${paginationByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_producto
    where prod_id = #{prodId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_producto
    where prod_id = #{prodId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TProductoExample" >
    delete from t_producto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TProducto" >
    insert into t_producto (prod_id, prod_cod_tip, prod_cod_amb, 
      prod_cod_neg, prod_cod, prod_des, 
      prod_pre, fec_num_cam, cod_ind_cam, 
      proc_id)
    values (#{prodId,jdbcType=INTEGER}, #{prodCodTip,jdbcType=INTEGER}, #{prodCodAmb,jdbcType=INTEGER}, 
      #{prodCodNeg,jdbcType=INTEGER}, #{prodCod,jdbcType=VARCHAR}, #{prodDes,jdbcType=VARCHAR}, 
      #{prodPre,jdbcType=NUMERIC}, #{fecNumCam,jdbcType=BIGINT}, #{codIndCam,jdbcType=CHAR}, 
      #{procId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TProducto" >
    insert into t_producto
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prodId != null" >
        prod_id,
      </if>
      <if test="prodCodTip != null" >
        prod_cod_tip,
      </if>
      <if test="prodCodAmb != null" >
        prod_cod_amb,
      </if>
      <if test="prodCodNeg != null" >
        prod_cod_neg,
      </if>
      <if test="prodCod != null" >
        prod_cod,
      </if>
      <if test="prodDes != null" >
        prod_des,
      </if>
      <if test="prodPre != null" >
        prod_pre,
      </if>
      <if test="fecNumCam != null" >
        fec_num_cam,
      </if>
      <if test="codIndCam != null" >
        cod_ind_cam,
      </if>
      <if test="procId != null" >
        proc_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prodId != null" >
        #{prodId,jdbcType=INTEGER},
      </if>
      <if test="prodCodTip != null" >
        #{prodCodTip,jdbcType=INTEGER},
      </if>
      <if test="prodCodAmb != null" >
        #{prodCodAmb,jdbcType=INTEGER},
      </if>
      <if test="prodCodNeg != null" >
        #{prodCodNeg,jdbcType=INTEGER},
      </if>
      <if test="prodCod != null" >
        #{prodCod,jdbcType=VARCHAR},
      </if>
      <if test="prodDes != null" >
        #{prodDes,jdbcType=VARCHAR},
      </if>
      <if test="prodPre != null" >
        #{prodPre,jdbcType=NUMERIC},
      </if>
      <if test="fecNumCam != null" >
        #{fecNumCam,jdbcType=BIGINT},
      </if>
      <if test="codIndCam != null" >
        #{codIndCam,jdbcType=CHAR},
      </if>
      <if test="procId != null" >
        #{procId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TProductoExample" resultType="java.lang.Integer" >
    select count(*) from t_producto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_producto
    <set >
      <if test="record.prodId != null" >
        prod_id = #{record.prodId,jdbcType=INTEGER},
      </if>
      <if test="record.prodCodTip != null" >
        prod_cod_tip = #{record.prodCodTip,jdbcType=INTEGER},
      </if>
      <if test="record.prodCodAmb != null" >
        prod_cod_amb = #{record.prodCodAmb,jdbcType=INTEGER},
      </if>
      <if test="record.prodCodNeg != null" >
        prod_cod_neg = #{record.prodCodNeg,jdbcType=INTEGER},
      </if>
      <if test="record.prodCod != null" >
        prod_cod = #{record.prodCod,jdbcType=VARCHAR},
      </if>
      <if test="record.prodDes != null" >
        prod_des = #{record.prodDes,jdbcType=VARCHAR},
      </if>
      <if test="record.prodPre != null" >
        prod_pre = #{record.prodPre,jdbcType=NUMERIC},
      </if>
      <if test="record.fecNumCam != null" >
        fec_num_cam = #{record.fecNumCam,jdbcType=BIGINT},
      </if>
      <if test="record.codIndCam != null" >
        cod_ind_cam = #{record.codIndCam,jdbcType=CHAR},
      </if>
      <if test="record.procId != null" >
        proc_id = #{record.procId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_producto
    set prod_id = #{record.prodId,jdbcType=INTEGER},
      prod_cod_tip = #{record.prodCodTip,jdbcType=INTEGER},
      prod_cod_amb = #{record.prodCodAmb,jdbcType=INTEGER},
      prod_cod_neg = #{record.prodCodNeg,jdbcType=INTEGER},
      prod_cod = #{record.prodCod,jdbcType=VARCHAR},
      prod_des = #{record.prodDes,jdbcType=VARCHAR},
      prod_pre = #{record.prodPre,jdbcType=NUMERIC},
      fec_num_cam = #{record.fecNumCam,jdbcType=BIGINT},
      cod_ind_cam = #{record.codIndCam,jdbcType=CHAR},
      proc_id = #{record.procId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TProducto" >
    update t_producto
    <set >
      <if test="prodCodTip != null" >
        prod_cod_tip = #{prodCodTip,jdbcType=INTEGER},
      </if>
      <if test="prodCodAmb != null" >
        prod_cod_amb = #{prodCodAmb,jdbcType=INTEGER},
      </if>
      <if test="prodCodNeg != null" >
        prod_cod_neg = #{prodCodNeg,jdbcType=INTEGER},
      </if>
      <if test="prodCod != null" >
        prod_cod = #{prodCod,jdbcType=VARCHAR},
      </if>
      <if test="prodDes != null" >
        prod_des = #{prodDes,jdbcType=VARCHAR},
      </if>
      <if test="prodPre != null" >
        prod_pre = #{prodPre,jdbcType=NUMERIC},
      </if>
      <if test="fecNumCam != null" >
        fec_num_cam = #{fecNumCam,jdbcType=BIGINT},
      </if>
      <if test="codIndCam != null" >
        cod_ind_cam = #{codIndCam,jdbcType=CHAR},
      </if>
      <if test="procId != null" >
        proc_id = #{procId,jdbcType=INTEGER},
      </if>
    </set>
    where prod_id = #{prodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TProducto" >
    update t_producto
    set prod_cod_tip = #{prodCodTip,jdbcType=INTEGER},
      prod_cod_amb = #{prodCodAmb,jdbcType=INTEGER},
      prod_cod_neg = #{prodCodNeg,jdbcType=INTEGER},
      prod_cod = #{prodCod,jdbcType=VARCHAR},
      prod_des = #{prodDes,jdbcType=VARCHAR},
      prod_pre = #{prodPre,jdbcType=NUMERIC},
      fec_num_cam = #{fecNumCam,jdbcType=BIGINT},
      cod_ind_cam = #{codIndCam,jdbcType=CHAR},
      proc_id = #{procId,jdbcType=INTEGER}
    where prod_id = #{prodId,jdbcType=INTEGER}
  </update>
</mapper>