<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="t_cargo" >
  <resultMap id="BaseResultMap" type="pe.com.j2techcon.bi.etl.domain.generic.TCargo" >
    <id column="carg_id" property="cargId" jdbcType="INTEGER" />
    <result column="carg_corr" property="cargCorr" jdbcType="INTEGER" />
    <result column="ord_id" property="ordId" jdbcType="INTEGER" />
    <result column="prod_id" property="prodId" jdbcType="INTEGER" />
    <result column="zon_id" property="zonId" jdbcType="INTEGER" />
    <result column="zon_id_new" property="zonIdNew" jdbcType="INTEGER" />
    <result column="carg_cod_mov" property="cargCodMov" jdbcType="INTEGER" />
    <result column="carg_cod_tip_ing" property="cargCodTipIng" jdbcType="INTEGER" />
    <result column="carg_cod_fec_des" property="cargCodFecDes" jdbcType="DATE" />
    <result column="carg_cod_fec_rec" property="cargCodFecRec" jdbcType="DATE" />
    <result column="carg_destinatario" property="cargDestinatario" jdbcType="VARCHAR" />
    <result column="carg_dir" property="cargDir" jdbcType="VARCHAR" />
    <result column="carg_ref" property="cargRef" jdbcType="VARCHAR" />
    <result column="carg_new_dir" property="cargNewDir" jdbcType="VARCHAR" />
    <result column="carg_new_ref" property="cargNewRef" jdbcType="VARCHAR" />
    <result column="carg_cod_est" property="cargCodEst" jdbcType="INTEGER" />
    <result column="fec_num_cam" property="fecNumCam" jdbcType="BIGINT" />
    <result column="cod_ind_cam" property="codIndCam" jdbcType="CHAR" />
    <result column="proc_id" property="procId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    carg_id, carg_corr, ord_id, prod_id, zon_id, zon_id_new, carg_cod_mov, carg_cod_tip_ing, 
    carg_cod_fec_des, carg_cod_fec_rec, carg_destinatario, carg_dir, carg_ref, carg_new_dir, 
    carg_new_ref, carg_cod_est, fec_num_cam, cod_ind_cam, proc_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TCargoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cargo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="paginationByClause != null" >
      ${paginationByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_cargo
    where carg_id = #{cargId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_cargo
    where carg_id = #{cargId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TCargoExample" >
    delete from t_cargo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TCargo" >
    insert into t_cargo (carg_id, carg_corr, ord_id, 
      prod_id, zon_id, zon_id_new, 
      carg_cod_mov, carg_cod_tip_ing, carg_cod_fec_des, 
      carg_cod_fec_rec, carg_destinatario, carg_dir, 
      carg_ref, carg_new_dir, carg_new_ref, 
      carg_cod_est, fec_num_cam, cod_ind_cam, 
      proc_id)
    values (#{cargId,jdbcType=INTEGER}, #{cargCorr,jdbcType=INTEGER}, #{ordId,jdbcType=INTEGER}, 
      #{prodId,jdbcType=INTEGER}, #{zonId,jdbcType=INTEGER}, #{zonIdNew,jdbcType=INTEGER}, 
      #{cargCodMov,jdbcType=INTEGER}, #{cargCodTipIng,jdbcType=INTEGER}, #{cargCodFecDes,jdbcType=DATE}, 
      #{cargCodFecRec,jdbcType=DATE}, #{cargDestinatario,jdbcType=VARCHAR}, #{cargDir,jdbcType=VARCHAR}, 
      #{cargRef,jdbcType=VARCHAR}, #{cargNewDir,jdbcType=VARCHAR}, #{cargNewRef,jdbcType=VARCHAR}, 
      #{cargCodEst,jdbcType=INTEGER}, #{fecNumCam,jdbcType=BIGINT}, #{codIndCam,jdbcType=CHAR}, 
      #{procId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TCargo" >
    insert into t_cargo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cargId != null" >
        carg_id,
      </if>
      <if test="cargCorr != null" >
        carg_corr,
      </if>
      <if test="ordId != null" >
        ord_id,
      </if>
      <if test="prodId != null" >
        prod_id,
      </if>
      <if test="zonId != null" >
        zon_id,
      </if>
      <if test="zonIdNew != null" >
        zon_id_new,
      </if>
      <if test="cargCodMov != null" >
        carg_cod_mov,
      </if>
      <if test="cargCodTipIng != null" >
        carg_cod_tip_ing,
      </if>
      <if test="cargCodFecDes != null" >
        carg_cod_fec_des,
      </if>
      <if test="cargCodFecRec != null" >
        carg_cod_fec_rec,
      </if>
      <if test="cargDestinatario != null" >
        carg_destinatario,
      </if>
      <if test="cargDir != null" >
        carg_dir,
      </if>
      <if test="cargRef != null" >
        carg_ref,
      </if>
      <if test="cargNewDir != null" >
        carg_new_dir,
      </if>
      <if test="cargNewRef != null" >
        carg_new_ref,
      </if>
      <if test="cargCodEst != null" >
        carg_cod_est,
      </if>
      <if test="fecNumCam != null" >
        fec_num_cam,
      </if>
      <if test="codIndCam != null" >
        cod_ind_cam,
      </if>
      <if test="procId != null" >
        proc_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cargId != null" >
        #{cargId,jdbcType=INTEGER},
      </if>
      <if test="cargCorr != null" >
        #{cargCorr,jdbcType=INTEGER},
      </if>
      <if test="ordId != null" >
        #{ordId,jdbcType=INTEGER},
      </if>
      <if test="prodId != null" >
        #{prodId,jdbcType=INTEGER},
      </if>
      <if test="zonId != null" >
        #{zonId,jdbcType=INTEGER},
      </if>
      <if test="zonIdNew != null" >
        #{zonIdNew,jdbcType=INTEGER},
      </if>
      <if test="cargCodMov != null" >
        #{cargCodMov,jdbcType=INTEGER},
      </if>
      <if test="cargCodTipIng != null" >
        #{cargCodTipIng,jdbcType=INTEGER},
      </if>
      <if test="cargCodFecDes != null" >
        #{cargCodFecDes,jdbcType=DATE},
      </if>
      <if test="cargCodFecRec != null" >
        #{cargCodFecRec,jdbcType=DATE},
      </if>
      <if test="cargDestinatario != null" >
        #{cargDestinatario,jdbcType=VARCHAR},
      </if>
      <if test="cargDir != null" >
        #{cargDir,jdbcType=VARCHAR},
      </if>
      <if test="cargRef != null" >
        #{cargRef,jdbcType=VARCHAR},
      </if>
      <if test="cargNewDir != null" >
        #{cargNewDir,jdbcType=VARCHAR},
      </if>
      <if test="cargNewRef != null" >
        #{cargNewRef,jdbcType=VARCHAR},
      </if>
      <if test="cargCodEst != null" >
        #{cargCodEst,jdbcType=INTEGER},
      </if>
      <if test="fecNumCam != null" >
        #{fecNumCam,jdbcType=BIGINT},
      </if>
      <if test="codIndCam != null" >
        #{codIndCam,jdbcType=CHAR},
      </if>
      <if test="procId != null" >
        #{procId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TCargoExample" resultType="java.lang.Integer" >
    select count(*) from t_cargo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_cargo
    <set >
      <if test="record.cargId != null" >
        carg_id = #{record.cargId,jdbcType=INTEGER},
      </if>
      <if test="record.cargCorr != null" >
        carg_corr = #{record.cargCorr,jdbcType=INTEGER},
      </if>
      <if test="record.ordId != null" >
        ord_id = #{record.ordId,jdbcType=INTEGER},
      </if>
      <if test="record.prodId != null" >
        prod_id = #{record.prodId,jdbcType=INTEGER},
      </if>
      <if test="record.zonId != null" >
        zon_id = #{record.zonId,jdbcType=INTEGER},
      </if>
      <if test="record.zonIdNew != null" >
        zon_id_new = #{record.zonIdNew,jdbcType=INTEGER},
      </if>
      <if test="record.cargCodMov != null" >
        carg_cod_mov = #{record.cargCodMov,jdbcType=INTEGER},
      </if>
      <if test="record.cargCodTipIng != null" >
        carg_cod_tip_ing = #{record.cargCodTipIng,jdbcType=INTEGER},
      </if>
      <if test="record.cargCodFecDes != null" >
        carg_cod_fec_des = #{record.cargCodFecDes,jdbcType=DATE},
      </if>
      <if test="record.cargCodFecRec != null" >
        carg_cod_fec_rec = #{record.cargCodFecRec,jdbcType=DATE},
      </if>
      <if test="record.cargDestinatario != null" >
        carg_destinatario = #{record.cargDestinatario,jdbcType=VARCHAR},
      </if>
      <if test="record.cargDir != null" >
        carg_dir = #{record.cargDir,jdbcType=VARCHAR},
      </if>
      <if test="record.cargRef != null" >
        carg_ref = #{record.cargRef,jdbcType=VARCHAR},
      </if>
      <if test="record.cargNewDir != null" >
        carg_new_dir = #{record.cargNewDir,jdbcType=VARCHAR},
      </if>
      <if test="record.cargNewRef != null" >
        carg_new_ref = #{record.cargNewRef,jdbcType=VARCHAR},
      </if>
      <if test="record.cargCodEst != null" >
        carg_cod_est = #{record.cargCodEst,jdbcType=INTEGER},
      </if>
      <if test="record.fecNumCam != null" >
        fec_num_cam = #{record.fecNumCam,jdbcType=BIGINT},
      </if>
      <if test="record.codIndCam != null" >
        cod_ind_cam = #{record.codIndCam,jdbcType=CHAR},
      </if>
      <if test="record.procId != null" >
        proc_id = #{record.procId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_cargo
    set carg_id = #{record.cargId,jdbcType=INTEGER},
      carg_corr = #{record.cargCorr,jdbcType=INTEGER},
      ord_id = #{record.ordId,jdbcType=INTEGER},
      prod_id = #{record.prodId,jdbcType=INTEGER},
      zon_id = #{record.zonId,jdbcType=INTEGER},
      zon_id_new = #{record.zonIdNew,jdbcType=INTEGER},
      carg_cod_mov = #{record.cargCodMov,jdbcType=INTEGER},
      carg_cod_tip_ing = #{record.cargCodTipIng,jdbcType=INTEGER},
      carg_cod_fec_des = #{record.cargCodFecDes,jdbcType=DATE},
      carg_cod_fec_rec = #{record.cargCodFecRec,jdbcType=DATE},
      carg_destinatario = #{record.cargDestinatario,jdbcType=VARCHAR},
      carg_dir = #{record.cargDir,jdbcType=VARCHAR},
      carg_ref = #{record.cargRef,jdbcType=VARCHAR},
      carg_new_dir = #{record.cargNewDir,jdbcType=VARCHAR},
      carg_new_ref = #{record.cargNewRef,jdbcType=VARCHAR},
      carg_cod_est = #{record.cargCodEst,jdbcType=INTEGER},
      fec_num_cam = #{record.fecNumCam,jdbcType=BIGINT},
      cod_ind_cam = #{record.codIndCam,jdbcType=CHAR},
      proc_id = #{record.procId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TCargo" >
    update t_cargo
    <set >
      <if test="cargCorr != null" >
        carg_corr = #{cargCorr,jdbcType=INTEGER},
      </if>
      <if test="ordId != null" >
        ord_id = #{ordId,jdbcType=INTEGER},
      </if>
      <if test="prodId != null" >
        prod_id = #{prodId,jdbcType=INTEGER},
      </if>
      <if test="zonId != null" >
        zon_id = #{zonId,jdbcType=INTEGER},
      </if>
      <if test="zonIdNew != null" >
        zon_id_new = #{zonIdNew,jdbcType=INTEGER},
      </if>
      <if test="cargCodMov != null" >
        carg_cod_mov = #{cargCodMov,jdbcType=INTEGER},
      </if>
      <if test="cargCodTipIng != null" >
        carg_cod_tip_ing = #{cargCodTipIng,jdbcType=INTEGER},
      </if>
      <if test="cargCodFecDes != null" >
        carg_cod_fec_des = #{cargCodFecDes,jdbcType=DATE},
      </if>
      <if test="cargCodFecRec != null" >
        carg_cod_fec_rec = #{cargCodFecRec,jdbcType=DATE},
      </if>
      <if test="cargDestinatario != null" >
        carg_destinatario = #{cargDestinatario,jdbcType=VARCHAR},
      </if>
      <if test="cargDir != null" >
        carg_dir = #{cargDir,jdbcType=VARCHAR},
      </if>
      <if test="cargRef != null" >
        carg_ref = #{cargRef,jdbcType=VARCHAR},
      </if>
      <if test="cargNewDir != null" >
        carg_new_dir = #{cargNewDir,jdbcType=VARCHAR},
      </if>
      <if test="cargNewRef != null" >
        carg_new_ref = #{cargNewRef,jdbcType=VARCHAR},
      </if>
      <if test="cargCodEst != null" >
        carg_cod_est = #{cargCodEst,jdbcType=INTEGER},
      </if>
      <if test="fecNumCam != null" >
        fec_num_cam = #{fecNumCam,jdbcType=BIGINT},
      </if>
      <if test="codIndCam != null" >
        cod_ind_cam = #{codIndCam,jdbcType=CHAR},
      </if>
      <if test="procId != null" >
        proc_id = #{procId,jdbcType=INTEGER},
      </if>
    </set>
    where carg_id = #{cargId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TCargo" >
    update t_cargo
    set carg_corr = #{cargCorr,jdbcType=INTEGER},
      ord_id = #{ordId,jdbcType=INTEGER},
      prod_id = #{prodId,jdbcType=INTEGER},
      zon_id = #{zonId,jdbcType=INTEGER},
      zon_id_new = #{zonIdNew,jdbcType=INTEGER},
      carg_cod_mov = #{cargCodMov,jdbcType=INTEGER},
      carg_cod_tip_ing = #{cargCodTipIng,jdbcType=INTEGER},
      carg_cod_fec_des = #{cargCodFecDes,jdbcType=DATE},
      carg_cod_fec_rec = #{cargCodFecRec,jdbcType=DATE},
      carg_destinatario = #{cargDestinatario,jdbcType=VARCHAR},
      carg_dir = #{cargDir,jdbcType=VARCHAR},
      carg_ref = #{cargRef,jdbcType=VARCHAR},
      carg_new_dir = #{cargNewDir,jdbcType=VARCHAR},
      carg_new_ref = #{cargNewRef,jdbcType=VARCHAR},
      carg_cod_est = #{cargCodEst,jdbcType=INTEGER},
      fec_num_cam = #{fecNumCam,jdbcType=BIGINT},
      cod_ind_cam = #{codIndCam,jdbcType=CHAR},
      proc_id = #{procId,jdbcType=INTEGER}
    where carg_id = #{cargId,jdbcType=INTEGER}
  </update>
</mapper>