<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.j2techcon.bi.etl.dao.generic.TOrdenMapper" >
  <resultMap id="BaseResultMap" type="pe.com.j2techcon.bi.etl.domain.generic.TOrden" >
    <id column="ord_id" property="ordId" jdbcType="INTEGER" />
    <result column="coti_id" property="cotiId" jdbcType="INTEGER" />
    <result column="cod_are_cli" property="codAreCli" jdbcType="INTEGER" />
    <result column="emp_cat_id" property="empCatId" jdbcType="INTEGER" />
    <result column="ord_cod_tip_rep" property="ordCodTipRep" jdbcType="INTEGER" />
    <result column="serv_id" property="servId" jdbcType="INTEGER" />
    <result column="prod_id" property="prodId" jdbcType="INTEGER" />
    <result column="ord_cod_tip_pag" property="ordCodTipPag" jdbcType="INTEGER" />
    <result column="ord_cod_tip_mon" property="ordCodTipMon" jdbcType="INTEGER" />
    <result column="ord_cod_tip_doc" property="ordCodTipDoc" jdbcType="INTEGER" />
    <result column="ord_serie_doc" property="ordSerieDoc" jdbcType="VARCHAR" />
    <result column="ord_num_doc" property="ordNumDoc" jdbcType="VARCHAR" />
    <result column="ord_cod_comp" property="ordCodComp" jdbcType="VARCHAR" />
    <result column="ord_tip_cambio" property="ordTipCambio" jdbcType="NUMERIC" />
    <result column="ord_cnt_cargos" property="ordCntCargos" jdbcType="INTEGER" />
    <result column="ord_ind_fac" property="ordIndFac" jdbcType="INTEGER" />
    <result column="ord_fec_ini" property="ordFecIni" jdbcType="DATE" />
    <result column="ord_fec_ven" property="ordFecVen" jdbcType="DATE" />
    <result column="ord_fec_cie" property="ordFecCie" jdbcType="DATE" />
    <result column="ord_fec_dev" property="ordFecDev" jdbcType="DATE" />
    <result column="ord_fec_liq" property="ordFecLiq" jdbcType="DATE" />
    <result column="ord_fec_fac" property="ordFecFac" jdbcType="DATE" />
    <result column="ord_importe" property="ordImporte" jdbcType="NUMERIC" />
    <result column="ord_descuento" property="ordDescuento" jdbcType="NUMERIC" />
    <result column="ord_venta" property="ordVenta" jdbcType="NUMERIC" />
    <result column="ord_igv" property="ordIgv" jdbcType="NUMERIC" />
    <result column="ord_total" property="ordTotal" jdbcType="NUMERIC" />
    <result column="ord_cod_est" property="ordCodEst" jdbcType="INTEGER" />
    <result column="fec_num_cam" property="fecNumCam" jdbcType="BIGINT" />
    <result column="cod_ind_cam" property="codIndCam" jdbcType="CHAR" />
    <result column="proc_id" property="procId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ord_id, coti_id, cod_are_cli, emp_cat_id, ord_cod_tip_rep, serv_id, prod_id, ord_cod_tip_pag, 
    ord_cod_tip_mon, ord_cod_tip_doc, ord_serie_doc, ord_num_doc, ord_cod_comp, ord_tip_cambio, 
    ord_cnt_cargos, ord_ind_fac, ord_fec_ini, ord_fec_ven, ord_fec_cie, ord_fec_dev, 
    ord_fec_liq, ord_fec_fac, ord_importe, ord_descuento, ord_venta, ord_igv, ord_total, 
    ord_cod_est, fec_num_cam, cod_ind_cam, proc_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TOrdenExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_orden
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="whereBetweenFields != null" >
      ${whereBetweenFields}
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="paginationByClause != null" >
      ${paginationByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_orden
    where ord_id = #{ordId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_orden
    where ord_id = #{ordId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TOrdenExample" >
    delete from t_orden
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TOrden" >
    insert into t_orden (ord_id, coti_id, cod_are_cli, 
      emp_cat_id, ord_cod_tip_rep, serv_id, 
      prod_id, ord_cod_tip_pag, ord_cod_tip_mon, 
      ord_cod_tip_doc, ord_serie_doc, ord_num_doc, 
      ord_cod_comp, ord_tip_cambio, ord_cnt_cargos, 
      ord_ind_fac, ord_fec_ini, ord_fec_ven, 
      ord_fec_cie, ord_fec_dev, ord_fec_liq, 
      ord_fec_fac, ord_importe, ord_descuento, 
      ord_venta, ord_igv, ord_total, 
      ord_cod_est, fec_num_cam, cod_ind_cam, 
      proc_id)
    values (#{ordId,jdbcType=INTEGER}, #{cotiId,jdbcType=INTEGER}, #{codAreCli,jdbcType=INTEGER}, 
      #{empCatId,jdbcType=INTEGER}, #{ordCodTipRep,jdbcType=INTEGER}, #{servId,jdbcType=INTEGER}, 
      #{prodId,jdbcType=INTEGER}, #{ordCodTipPag,jdbcType=INTEGER}, #{ordCodTipMon,jdbcType=INTEGER}, 
      #{ordCodTipDoc,jdbcType=INTEGER}, #{ordSerieDoc,jdbcType=VARCHAR}, #{ordNumDoc,jdbcType=VARCHAR}, 
      #{ordCodComp,jdbcType=VARCHAR}, #{ordTipCambio,jdbcType=NUMERIC}, #{ordCntCargos,jdbcType=INTEGER}, 
      #{ordIndFac,jdbcType=INTEGER}, #{ordFecIni,jdbcType=DATE}, #{ordFecVen,jdbcType=DATE}, 
      #{ordFecCie,jdbcType=DATE}, #{ordFecDev,jdbcType=DATE}, #{ordFecLiq,jdbcType=DATE}, 
      #{ordFecFac,jdbcType=DATE}, #{ordImporte,jdbcType=NUMERIC}, #{ordDescuento,jdbcType=NUMERIC}, 
      #{ordVenta,jdbcType=NUMERIC}, #{ordIgv,jdbcType=NUMERIC}, #{ordTotal,jdbcType=NUMERIC}, 
      #{ordCodEst,jdbcType=INTEGER}, #{fecNumCam,jdbcType=BIGINT}, #{codIndCam,jdbcType=CHAR}, 
      #{procId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TOrden" >
    insert into t_orden
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ordId != null" >
        ord_id,
      </if>
      <if test="cotiId != null" >
        coti_id,
      </if>
      <if test="codAreCli != null" >
        cod_are_cli,
      </if>
      <if test="empCatId != null" >
        emp_cat_id,
      </if>
      <if test="ordCodTipRep != null" >
        ord_cod_tip_rep,
      </if>
      <if test="servId != null" >
        serv_id,
      </if>
      <if test="prodId != null" >
        prod_id,
      </if>
      <if test="ordCodTipPag != null" >
        ord_cod_tip_pag,
      </if>
      <if test="ordCodTipMon != null" >
        ord_cod_tip_mon,
      </if>
      <if test="ordCodTipDoc != null" >
        ord_cod_tip_doc,
      </if>
      <if test="ordSerieDoc != null" >
        ord_serie_doc,
      </if>
      <if test="ordNumDoc != null" >
        ord_num_doc,
      </if>
      <if test="ordCodComp != null" >
        ord_cod_comp,
      </if>
      <if test="ordTipCambio != null" >
        ord_tip_cambio,
      </if>
      <if test="ordCntCargos != null" >
        ord_cnt_cargos,
      </if>
      <if test="ordIndFac != null" >
        ord_ind_fac,
      </if>
      <if test="ordFecIni != null" >
        ord_fec_ini,
      </if>
      <if test="ordFecVen != null" >
        ord_fec_ven,
      </if>
      <if test="ordFecCie != null" >
        ord_fec_cie,
      </if>
      <if test="ordFecDev != null" >
        ord_fec_dev,
      </if>
      <if test="ordFecLiq != null" >
        ord_fec_liq,
      </if>
      <if test="ordFecFac != null" >
        ord_fec_fac,
      </if>
      <if test="ordImporte != null" >
        ord_importe,
      </if>
      <if test="ordDescuento != null" >
        ord_descuento,
      </if>
      <if test="ordVenta != null" >
        ord_venta,
      </if>
      <if test="ordIgv != null" >
        ord_igv,
      </if>
      <if test="ordTotal != null" >
        ord_total,
      </if>
      <if test="ordCodEst != null" >
        ord_cod_est,
      </if>
      <if test="fecNumCam != null" >
        fec_num_cam,
      </if>
      <if test="codIndCam != null" >
        cod_ind_cam,
      </if>
      <if test="procId != null" >
        proc_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ordId != null" >
        #{ordId,jdbcType=INTEGER},
      </if>
      <if test="cotiId != null" >
        #{cotiId,jdbcType=INTEGER},
      </if>
      <if test="codAreCli != null" >
        #{codAreCli,jdbcType=INTEGER},
      </if>
      <if test="empCatId != null" >
        #{empCatId,jdbcType=INTEGER},
      </if>
      <if test="ordCodTipRep != null" >
        #{ordCodTipRep,jdbcType=INTEGER},
      </if>
      <if test="servId != null" >
        #{servId,jdbcType=INTEGER},
      </if>
      <if test="prodId != null" >
        #{prodId,jdbcType=INTEGER},
      </if>
      <if test="ordCodTipPag != null" >
        #{ordCodTipPag,jdbcType=INTEGER},
      </if>
      <if test="ordCodTipMon != null" >
        #{ordCodTipMon,jdbcType=INTEGER},
      </if>
      <if test="ordCodTipDoc != null" >
        #{ordCodTipDoc,jdbcType=INTEGER},
      </if>
      <if test="ordSerieDoc != null" >
        #{ordSerieDoc,jdbcType=VARCHAR},
      </if>
      <if test="ordNumDoc != null" >
        #{ordNumDoc,jdbcType=VARCHAR},
      </if>
      <if test="ordCodComp != null" >
        #{ordCodComp,jdbcType=VARCHAR},
      </if>
      <if test="ordTipCambio != null" >
        #{ordTipCambio,jdbcType=NUMERIC},
      </if>
      <if test="ordCntCargos != null" >
        #{ordCntCargos,jdbcType=INTEGER},
      </if>
      <if test="ordIndFac != null" >
        #{ordIndFac,jdbcType=INTEGER},
      </if>
      <if test="ordFecIni != null" >
        #{ordFecIni,jdbcType=DATE},
      </if>
      <if test="ordFecVen != null" >
        #{ordFecVen,jdbcType=DATE},
      </if>
      <if test="ordFecCie != null" >
        #{ordFecCie,jdbcType=DATE},
      </if>
      <if test="ordFecDev != null" >
        #{ordFecDev,jdbcType=DATE},
      </if>
      <if test="ordFecLiq != null" >
        #{ordFecLiq,jdbcType=DATE},
      </if>
      <if test="ordFecFac != null" >
        #{ordFecFac,jdbcType=DATE},
      </if>
      <if test="ordImporte != null" >
        #{ordImporte,jdbcType=NUMERIC},
      </if>
      <if test="ordDescuento != null" >
        #{ordDescuento,jdbcType=NUMERIC},
      </if>
      <if test="ordVenta != null" >
        #{ordVenta,jdbcType=NUMERIC},
      </if>
      <if test="ordIgv != null" >
        #{ordIgv,jdbcType=NUMERIC},
      </if>
      <if test="ordTotal != null" >
        #{ordTotal,jdbcType=NUMERIC},
      </if>
      <if test="ordCodEst != null" >
        #{ordCodEst,jdbcType=INTEGER},
      </if>
      <if test="fecNumCam != null" >
        #{fecNumCam,jdbcType=BIGINT},
      </if>
      <if test="codIndCam != null" >
        #{codIndCam,jdbcType=CHAR},
      </if>
      <if test="procId != null" >
        #{procId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TOrdenExample" resultType="java.lang.Integer" >
    select count(*) from t_orden
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_orden
    <set >
      <if test="record.ordId != null" >
        ord_id = #{record.ordId,jdbcType=INTEGER},
      </if>
      <if test="record.cotiId != null" >
        coti_id = #{record.cotiId,jdbcType=INTEGER},
      </if>
      <if test="record.codAreCli != null" >
        cod_are_cli = #{record.codAreCli,jdbcType=INTEGER},
      </if>
      <if test="record.empCatId != null" >
        emp_cat_id = #{record.empCatId,jdbcType=INTEGER},
      </if>
      <if test="record.ordCodTipRep != null" >
        ord_cod_tip_rep = #{record.ordCodTipRep,jdbcType=INTEGER},
      </if>
      <if test="record.servId != null" >
        serv_id = #{record.servId,jdbcType=INTEGER},
      </if>
      <if test="record.prodId != null" >
        prod_id = #{record.prodId,jdbcType=INTEGER},
      </if>
      <if test="record.ordCodTipPag != null" >
        ord_cod_tip_pag = #{record.ordCodTipPag,jdbcType=INTEGER},
      </if>
      <if test="record.ordCodTipMon != null" >
        ord_cod_tip_mon = #{record.ordCodTipMon,jdbcType=INTEGER},
      </if>
      <if test="record.ordCodTipDoc != null" >
        ord_cod_tip_doc = #{record.ordCodTipDoc,jdbcType=INTEGER},
      </if>
      <if test="record.ordSerieDoc != null" >
        ord_serie_doc = #{record.ordSerieDoc,jdbcType=VARCHAR},
      </if>
      <if test="record.ordNumDoc != null" >
        ord_num_doc = #{record.ordNumDoc,jdbcType=VARCHAR},
      </if>
      <if test="record.ordCodComp != null" >
        ord_cod_comp = #{record.ordCodComp,jdbcType=VARCHAR},
      </if>
      <if test="record.ordTipCambio != null" >
        ord_tip_cambio = #{record.ordTipCambio,jdbcType=NUMERIC},
      </if>
      <if test="record.ordCntCargos != null" >
        ord_cnt_cargos = #{record.ordCntCargos,jdbcType=INTEGER},
      </if>
      <if test="record.ordIndFac != null" >
        ord_ind_fac = #{record.ordIndFac,jdbcType=INTEGER},
      </if>
      <if test="record.ordFecIni != null" >
        ord_fec_ini = #{record.ordFecIni,jdbcType=DATE},
      </if>
      <if test="record.ordFecVen != null" >
        ord_fec_ven = #{record.ordFecVen,jdbcType=DATE},
      </if>
      <if test="record.ordFecCie != null" >
        ord_fec_cie = #{record.ordFecCie,jdbcType=DATE},
      </if>
      <if test="record.ordFecDev != null" >
        ord_fec_dev = #{record.ordFecDev,jdbcType=DATE},
      </if>
      <if test="record.ordFecLiq != null" >
        ord_fec_liq = #{record.ordFecLiq,jdbcType=DATE},
      </if>
      <if test="record.ordFecFac != null" >
        ord_fec_fac = #{record.ordFecFac,jdbcType=DATE},
      </if>
      <if test="record.ordImporte != null" >
        ord_importe = #{record.ordImporte,jdbcType=NUMERIC},
      </if>
      <if test="record.ordDescuento != null" >
        ord_descuento = #{record.ordDescuento,jdbcType=NUMERIC},
      </if>
      <if test="record.ordVenta != null" >
        ord_venta = #{record.ordVenta,jdbcType=NUMERIC},
      </if>
      <if test="record.ordIgv != null" >
        ord_igv = #{record.ordIgv,jdbcType=NUMERIC},
      </if>
      <if test="record.ordTotal != null" >
        ord_total = #{record.ordTotal,jdbcType=NUMERIC},
      </if>
      <if test="record.ordCodEst != null" >
        ord_cod_est = #{record.ordCodEst,jdbcType=INTEGER},
      </if>
      <if test="record.fecNumCam != null" >
        fec_num_cam = #{record.fecNumCam,jdbcType=BIGINT},
      </if>
      <if test="record.codIndCam != null" >
        cod_ind_cam = #{record.codIndCam,jdbcType=CHAR},
      </if>
      <if test="record.procId != null" >
        proc_id = #{record.procId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_orden
    set ord_id = #{record.ordId,jdbcType=INTEGER},
      coti_id = #{record.cotiId,jdbcType=INTEGER},
      cod_are_cli = #{record.codAreCli,jdbcType=INTEGER},
      emp_cat_id = #{record.empCatId,jdbcType=INTEGER},
      ord_cod_tip_rep = #{record.ordCodTipRep,jdbcType=INTEGER},
      serv_id = #{record.servId,jdbcType=INTEGER},
      prod_id = #{record.prodId,jdbcType=INTEGER},
      ord_cod_tip_pag = #{record.ordCodTipPag,jdbcType=INTEGER},
      ord_cod_tip_mon = #{record.ordCodTipMon,jdbcType=INTEGER},
      ord_cod_tip_doc = #{record.ordCodTipDoc,jdbcType=INTEGER},
      ord_serie_doc = #{record.ordSerieDoc,jdbcType=VARCHAR},
      ord_num_doc = #{record.ordNumDoc,jdbcType=VARCHAR},
      ord_cod_comp = #{record.ordCodComp,jdbcType=VARCHAR},
      ord_tip_cambio = #{record.ordTipCambio,jdbcType=NUMERIC},
      ord_cnt_cargos = #{record.ordCntCargos,jdbcType=INTEGER},
      ord_ind_fac = #{record.ordIndFac,jdbcType=INTEGER},
      ord_fec_ini = #{record.ordFecIni,jdbcType=DATE},
      ord_fec_ven = #{record.ordFecVen,jdbcType=DATE},
      ord_fec_cie = #{record.ordFecCie,jdbcType=DATE},
      ord_fec_dev = #{record.ordFecDev,jdbcType=DATE},
      ord_fec_liq = #{record.ordFecLiq,jdbcType=DATE},
      ord_fec_fac = #{record.ordFecFac,jdbcType=DATE},
      ord_importe = #{record.ordImporte,jdbcType=NUMERIC},
      ord_descuento = #{record.ordDescuento,jdbcType=NUMERIC},
      ord_venta = #{record.ordVenta,jdbcType=NUMERIC},
      ord_igv = #{record.ordIgv,jdbcType=NUMERIC},
      ord_total = #{record.ordTotal,jdbcType=NUMERIC},
      ord_cod_est = #{record.ordCodEst,jdbcType=INTEGER},
      fec_num_cam = #{record.fecNumCam,jdbcType=BIGINT},
      cod_ind_cam = #{record.codIndCam,jdbcType=CHAR},
      proc_id = #{record.procId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TOrden" >
    update t_orden
    <set >
      <if test="cotiId != null" >
        coti_id = #{cotiId,jdbcType=INTEGER},
      </if>
      <if test="codAreCli != null" >
        cod_are_cli = #{codAreCli,jdbcType=INTEGER},
      </if>
      <if test="empCatId != null" >
        emp_cat_id = #{empCatId,jdbcType=INTEGER},
      </if>
      <if test="ordCodTipRep != null" >
        ord_cod_tip_rep = #{ordCodTipRep,jdbcType=INTEGER},
      </if>
      <if test="servId != null" >
        serv_id = #{servId,jdbcType=INTEGER},
      </if>
      <if test="prodId != null" >
        prod_id = #{prodId,jdbcType=INTEGER},
      </if>
      <if test="ordCodTipPag != null" >
        ord_cod_tip_pag = #{ordCodTipPag,jdbcType=INTEGER},
      </if>
      <if test="ordCodTipMon != null" >
        ord_cod_tip_mon = #{ordCodTipMon,jdbcType=INTEGER},
      </if>
      <if test="ordCodTipDoc != null" >
        ord_cod_tip_doc = #{ordCodTipDoc,jdbcType=INTEGER},
      </if>
      <if test="ordSerieDoc != null" >
        ord_serie_doc = #{ordSerieDoc,jdbcType=VARCHAR},
      </if>
      <if test="ordNumDoc != null" >
        ord_num_doc = #{ordNumDoc,jdbcType=VARCHAR},
      </if>
      <if test="ordCodComp != null" >
        ord_cod_comp = #{ordCodComp,jdbcType=VARCHAR},
      </if>
      <if test="ordTipCambio != null" >
        ord_tip_cambio = #{ordTipCambio,jdbcType=NUMERIC},
      </if>
      <if test="ordCntCargos != null" >
        ord_cnt_cargos = #{ordCntCargos,jdbcType=INTEGER},
      </if>
      <if test="ordIndFac != null" >
        ord_ind_fac = #{ordIndFac,jdbcType=INTEGER},
      </if>
      <if test="ordFecIni != null" >
        ord_fec_ini = #{ordFecIni,jdbcType=DATE},
      </if>
      <if test="ordFecVen != null" >
        ord_fec_ven = #{ordFecVen,jdbcType=DATE},
      </if>
      <if test="ordFecCie != null" >
        ord_fec_cie = #{ordFecCie,jdbcType=DATE},
      </if>
      <if test="ordFecDev != null" >
        ord_fec_dev = #{ordFecDev,jdbcType=DATE},
      </if>
      <if test="ordFecLiq != null" >
        ord_fec_liq = #{ordFecLiq,jdbcType=DATE},
      </if>
      <if test="ordFecFac != null" >
        ord_fec_fac = #{ordFecFac,jdbcType=DATE},
      </if>
      <if test="ordImporte != null" >
        ord_importe = #{ordImporte,jdbcType=NUMERIC},
      </if>
      <if test="ordDescuento != null" >
        ord_descuento = #{ordDescuento,jdbcType=NUMERIC},
      </if>
      <if test="ordVenta != null" >
        ord_venta = #{ordVenta,jdbcType=NUMERIC},
      </if>
      <if test="ordIgv != null" >
        ord_igv = #{ordIgv,jdbcType=NUMERIC},
      </if>
      <if test="ordTotal != null" >
        ord_total = #{ordTotal,jdbcType=NUMERIC},
      </if>
      <if test="ordCodEst != null" >
        ord_cod_est = #{ordCodEst,jdbcType=INTEGER},
      </if>
      <if test="fecNumCam != null" >
        fec_num_cam = #{fecNumCam,jdbcType=BIGINT},
      </if>
      <if test="codIndCam != null" >
        cod_ind_cam = #{codIndCam,jdbcType=CHAR},
      </if>
      <if test="procId != null" >
        proc_id = #{procId,jdbcType=INTEGER},
      </if>
    </set>
    where ord_id = #{ordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.com.j2techcon.bi.etl.domain.generic.TOrden" >
    update t_orden
    set coti_id = #{cotiId,jdbcType=INTEGER},
      cod_are_cli = #{codAreCli,jdbcType=INTEGER},
      emp_cat_id = #{empCatId,jdbcType=INTEGER},
      ord_cod_tip_rep = #{ordCodTipRep,jdbcType=INTEGER},
      serv_id = #{servId,jdbcType=INTEGER},
      prod_id = #{prodId,jdbcType=INTEGER},
      ord_cod_tip_pag = #{ordCodTipPag,jdbcType=INTEGER},
      ord_cod_tip_mon = #{ordCodTipMon,jdbcType=INTEGER},
      ord_cod_tip_doc = #{ordCodTipDoc,jdbcType=INTEGER},
      ord_serie_doc = #{ordSerieDoc,jdbcType=VARCHAR},
      ord_num_doc = #{ordNumDoc,jdbcType=VARCHAR},
      ord_cod_comp = #{ordCodComp,jdbcType=VARCHAR},
      ord_tip_cambio = #{ordTipCambio,jdbcType=NUMERIC},
      ord_cnt_cargos = #{ordCntCargos,jdbcType=INTEGER},
      ord_ind_fac = #{ordIndFac,jdbcType=INTEGER},
      ord_fec_ini = #{ordFecIni,jdbcType=DATE},
      ord_fec_ven = #{ordFecVen,jdbcType=DATE},
      ord_fec_cie = #{ordFecCie,jdbcType=DATE},
      ord_fec_dev = #{ordFecDev,jdbcType=DATE},
      ord_fec_liq = #{ordFecLiq,jdbcType=DATE},
      ord_fec_fac = #{ordFecFac,jdbcType=DATE},
      ord_importe = #{ordImporte,jdbcType=NUMERIC},
      ord_descuento = #{ordDescuento,jdbcType=NUMERIC},
      ord_venta = #{ordVenta,jdbcType=NUMERIC},
      ord_igv = #{ordIgv,jdbcType=NUMERIC},
      ord_total = #{ordTotal,jdbcType=NUMERIC},
      ord_cod_est = #{ordCodEst,jdbcType=INTEGER},
      fec_num_cam = #{fecNumCam,jdbcType=BIGINT},
      cod_ind_cam = #{codIndCam,jdbcType=CHAR},
      proc_id = #{procId,jdbcType=INTEGER}
    where ord_id = #{ordId,jdbcType=INTEGER}
  </update>
</mapper>