<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dim_producto" >
  <resultMap id="BaseResultMap" type="pe.com.j2techcon.bi.etl.domain.dimensional.DimProducto" >
    <id column="producto_key" property="productoKey" jdbcType="INTEGER" />
    <result column="producto_cod" property="productoCod" jdbcType="VARCHAR" />
    <result column="producto_cod_tip" property="productoCodTip" jdbcType="INTEGER" />
    <result column="producto_desc_tip" property="productoDescTip" jdbcType="VARCHAR" />
    <result column="producto_desc" property="productoDesc" jdbcType="VARCHAR" />
    <result column="proc_id" property="procId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    producto_key, producto_cod, producto_cod_tip, producto_desc_tip, producto_desc, proc_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimProductoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dim_producto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="paginationByClause != null" >
      ${paginationByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dim_producto
    where producto_key = #{productoKey,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dim_producto
    where producto_key = #{productoKey,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimProductoExample" >
    delete from dim_producto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimProducto" >
    insert into dim_producto (producto_key, producto_cod, producto_cod_tip, 
      producto_desc_tip, producto_desc, proc_id
      )
    values (#{productoKey,jdbcType=INTEGER}, #{productoCod,jdbcType=VARCHAR}, #{productoCodTip,jdbcType=INTEGER}, 
      #{productoDescTip,jdbcType=VARCHAR}, #{productoDesc,jdbcType=VARCHAR}, #{procId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimProducto" >
    insert into dim_producto
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productoKey != null" >
        producto_key,
      </if>
      <if test="productoCod != null" >
        producto_cod,
      </if>
      <if test="productoCodTip != null" >
        producto_cod_tip,
      </if>
      <if test="productoDescTip != null" >
        producto_desc_tip,
      </if>
      <if test="productoDesc != null" >
        producto_desc,
      </if>
      <if test="procId != null" >
        proc_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productoKey != null" >
        #{productoKey,jdbcType=INTEGER},
      </if>
      <if test="productoCod != null" >
        #{productoCod,jdbcType=VARCHAR},
      </if>
      <if test="productoCodTip != null" >
        #{productoCodTip,jdbcType=INTEGER},
      </if>
      <if test="productoDescTip != null" >
        #{productoDescTip,jdbcType=VARCHAR},
      </if>
      <if test="productoDesc != null" >
        #{productoDesc,jdbcType=VARCHAR},
      </if>
      <if test="procId != null" >
        #{procId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimProductoExample" resultType="java.lang.Integer" >
    select count(*) from dim_producto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dim_producto
    <set >
      <if test="record.productoKey != null" >
        producto_key = #{record.productoKey,jdbcType=INTEGER},
      </if>
      <if test="record.productoCod != null" >
        producto_cod = #{record.productoCod,jdbcType=VARCHAR},
      </if>
      <if test="record.productoCodTip != null" >
        producto_cod_tip = #{record.productoCodTip,jdbcType=INTEGER},
      </if>
      <if test="record.productoDescTip != null" >
        producto_desc_tip = #{record.productoDescTip,jdbcType=VARCHAR},
      </if>
      <if test="record.productoDesc != null" >
        producto_desc = #{record.productoDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.procId != null" >
        proc_id = #{record.procId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dim_producto
    set producto_key = #{record.productoKey,jdbcType=INTEGER},
      producto_cod = #{record.productoCod,jdbcType=VARCHAR},
      producto_cod_tip = #{record.productoCodTip,jdbcType=INTEGER},
      producto_desc_tip = #{record.productoDescTip,jdbcType=VARCHAR},
      producto_desc = #{record.productoDesc,jdbcType=VARCHAR},
      proc_id = #{record.procId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimProducto" >
    update dim_producto
    <set >
      <if test="productoCod != null" >
        producto_cod = #{productoCod,jdbcType=VARCHAR},
      </if>
      <if test="productoCodTip != null" >
        producto_cod_tip = #{productoCodTip,jdbcType=INTEGER},
      </if>
      <if test="productoDescTip != null" >
        producto_desc_tip = #{productoDescTip,jdbcType=VARCHAR},
      </if>
      <if test="productoDesc != null" >
        producto_desc = #{productoDesc,jdbcType=VARCHAR},
      </if>
      <if test="procId != null" >
        proc_id = #{procId,jdbcType=INTEGER},
      </if>
    </set>
    where producto_key = #{productoKey,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimProducto" >
    update dim_producto
    set producto_cod = #{productoCod,jdbcType=VARCHAR},
      producto_cod_tip = #{productoCodTip,jdbcType=INTEGER},
      producto_desc_tip = #{productoDescTip,jdbcType=VARCHAR},
      producto_desc = #{productoDesc,jdbcType=VARCHAR},
      proc_id = #{procId,jdbcType=INTEGER}
    where producto_key = #{productoKey,jdbcType=INTEGER}
  </update>
</mapper>