<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dim_tiempo" >
  <resultMap id="BaseResultMap" type="pe.com.j2techcon.bi.etl.domain.dimensional.DimTiempo" >
    <id column="tiempo_key" property="tiempoKey" jdbcType="INTEGER" />
    <result column="tiempo_fecha" property="tiempoFecha" jdbcType="DATE" />
    <result column="tiempo_dia_semana" property="tiempoDiaSemana" jdbcType="SMALLINT" />
    <result column="tiempo_dia_mes" property="tiempoDiaMes" jdbcType="SMALLINT" />
    <result column="tiempo_nombre_dia" property="tiempoNombreDia" jdbcType="VARCHAR" />
    <result column="tiempo_semana_mes" property="tiempoSemanaMes" jdbcType="SMALLINT" />
    <result column="tiempo_semana_anio" property="tiempoSemanaAnio" jdbcType="SMALLINT" />
    <result column="tiempo_mes" property="tiempoMes" jdbcType="SMALLINT" />
    <result column="tiempo_nombre_mes" property="tiempoNombreMes" jdbcType="VARCHAR" />
    <result column="tiempo_trimestre" property="tiempoTrimestre" jdbcType="SMALLINT" />
    <result column="tiempo_nombre_trimestre" property="tiempoNombreTrimestre" jdbcType="CHAR" />
    <result column="tiempo_semestre" property="tiempoSemestre" jdbcType="SMALLINT" />
    <result column="tiempo_nombre_semestre" property="tiempoNombreSemestre" jdbcType="CHAR" />
    <result column="tiempo_anio" property="tiempoAnio" jdbcType="SMALLINT" />
    <result column="tiempo_es_feriado" property="tiempoEsFeriado" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tiempo_key, tiempo_fecha, tiempo_dia_semana, tiempo_dia_mes, tiempo_nombre_dia, tiempo_semana_mes, 
    tiempo_semana_anio, tiempo_mes, tiempo_nombre_mes, tiempo_trimestre, tiempo_nombre_trimestre, 
    tiempo_semestre, tiempo_nombre_semestre, tiempo_anio, tiempo_es_feriado
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimTiempoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dim_tiempo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="paginationByClause != null" >
      ${paginationByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dim_tiempo
    where tiempo_key = #{tiempoKey,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dim_tiempo
    where tiempo_key = #{tiempoKey,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimTiempoExample" >
    delete from dim_tiempo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimTiempo" >
    insert into dim_tiempo (tiempo_key, tiempo_fecha, tiempo_dia_semana, 
      tiempo_dia_mes, tiempo_nombre_dia, tiempo_semana_mes, 
      tiempo_semana_anio, tiempo_mes, tiempo_nombre_mes, 
      tiempo_trimestre, tiempo_nombre_trimestre, tiempo_semestre, 
      tiempo_nombre_semestre, tiempo_anio, tiempo_es_feriado
      )
    values (#{tiempoKey,jdbcType=INTEGER}, #{tiempoFecha,jdbcType=DATE}, #{tiempoDiaSemana,jdbcType=SMALLINT}, 
      #{tiempoDiaMes,jdbcType=SMALLINT}, #{tiempoNombreDia,jdbcType=VARCHAR}, #{tiempoSemanaMes,jdbcType=SMALLINT}, 
      #{tiempoSemanaAnio,jdbcType=SMALLINT}, #{tiempoMes,jdbcType=SMALLINT}, #{tiempoNombreMes,jdbcType=VARCHAR}, 
      #{tiempoTrimestre,jdbcType=SMALLINT}, #{tiempoNombreTrimestre,jdbcType=CHAR}, #{tiempoSemestre,jdbcType=SMALLINT}, 
      #{tiempoNombreSemestre,jdbcType=CHAR}, #{tiempoAnio,jdbcType=SMALLINT}, #{tiempoEsFeriado,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimTiempo" >
    insert into dim_tiempo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tiempoKey != null" >
        tiempo_key,
      </if>
      <if test="tiempoFecha != null" >
        tiempo_fecha,
      </if>
      <if test="tiempoDiaSemana != null" >
        tiempo_dia_semana,
      </if>
      <if test="tiempoDiaMes != null" >
        tiempo_dia_mes,
      </if>
      <if test="tiempoNombreDia != null" >
        tiempo_nombre_dia,
      </if>
      <if test="tiempoSemanaMes != null" >
        tiempo_semana_mes,
      </if>
      <if test="tiempoSemanaAnio != null" >
        tiempo_semana_anio,
      </if>
      <if test="tiempoMes != null" >
        tiempo_mes,
      </if>
      <if test="tiempoNombreMes != null" >
        tiempo_nombre_mes,
      </if>
      <if test="tiempoTrimestre != null" >
        tiempo_trimestre,
      </if>
      <if test="tiempoNombreTrimestre != null" >
        tiempo_nombre_trimestre,
      </if>
      <if test="tiempoSemestre != null" >
        tiempo_semestre,
      </if>
      <if test="tiempoNombreSemestre != null" >
        tiempo_nombre_semestre,
      </if>
      <if test="tiempoAnio != null" >
        tiempo_anio,
      </if>
      <if test="tiempoEsFeriado != null" >
        tiempo_es_feriado,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tiempoKey != null" >
        #{tiempoKey,jdbcType=INTEGER},
      </if>
      <if test="tiempoFecha != null" >
        #{tiempoFecha,jdbcType=DATE},
      </if>
      <if test="tiempoDiaSemana != null" >
        #{tiempoDiaSemana,jdbcType=SMALLINT},
      </if>
      <if test="tiempoDiaMes != null" >
        #{tiempoDiaMes,jdbcType=SMALLINT},
      </if>
      <if test="tiempoNombreDia != null" >
        #{tiempoNombreDia,jdbcType=VARCHAR},
      </if>
      <if test="tiempoSemanaMes != null" >
        #{tiempoSemanaMes,jdbcType=SMALLINT},
      </if>
      <if test="tiempoSemanaAnio != null" >
        #{tiempoSemanaAnio,jdbcType=SMALLINT},
      </if>
      <if test="tiempoMes != null" >
        #{tiempoMes,jdbcType=SMALLINT},
      </if>
      <if test="tiempoNombreMes != null" >
        #{tiempoNombreMes,jdbcType=VARCHAR},
      </if>
      <if test="tiempoTrimestre != null" >
        #{tiempoTrimestre,jdbcType=SMALLINT},
      </if>
      <if test="tiempoNombreTrimestre != null" >
        #{tiempoNombreTrimestre,jdbcType=CHAR},
      </if>
      <if test="tiempoSemestre != null" >
        #{tiempoSemestre,jdbcType=SMALLINT},
      </if>
      <if test="tiempoNombreSemestre != null" >
        #{tiempoNombreSemestre,jdbcType=CHAR},
      </if>
      <if test="tiempoAnio != null" >
        #{tiempoAnio,jdbcType=SMALLINT},
      </if>
      <if test="tiempoEsFeriado != null" >
        #{tiempoEsFeriado,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimTiempoExample" resultType="java.lang.Integer" >
    select count(*) from dim_tiempo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dim_tiempo
    <set >
      <if test="record.tiempoKey != null" >
        tiempo_key = #{record.tiempoKey,jdbcType=INTEGER},
      </if>
      <if test="record.tiempoFecha != null" >
        tiempo_fecha = #{record.tiempoFecha,jdbcType=DATE},
      </if>
      <if test="record.tiempoDiaSemana != null" >
        tiempo_dia_semana = #{record.tiempoDiaSemana,jdbcType=SMALLINT},
      </if>
      <if test="record.tiempoDiaMes != null" >
        tiempo_dia_mes = #{record.tiempoDiaMes,jdbcType=SMALLINT},
      </if>
      <if test="record.tiempoNombreDia != null" >
        tiempo_nombre_dia = #{record.tiempoNombreDia,jdbcType=VARCHAR},
      </if>
      <if test="record.tiempoSemanaMes != null" >
        tiempo_semana_mes = #{record.tiempoSemanaMes,jdbcType=SMALLINT},
      </if>
      <if test="record.tiempoSemanaAnio != null" >
        tiempo_semana_anio = #{record.tiempoSemanaAnio,jdbcType=SMALLINT},
      </if>
      <if test="record.tiempoMes != null" >
        tiempo_mes = #{record.tiempoMes,jdbcType=SMALLINT},
      </if>
      <if test="record.tiempoNombreMes != null" >
        tiempo_nombre_mes = #{record.tiempoNombreMes,jdbcType=VARCHAR},
      </if>
      <if test="record.tiempoTrimestre != null" >
        tiempo_trimestre = #{record.tiempoTrimestre,jdbcType=SMALLINT},
      </if>
      <if test="record.tiempoNombreTrimestre != null" >
        tiempo_nombre_trimestre = #{record.tiempoNombreTrimestre,jdbcType=CHAR},
      </if>
      <if test="record.tiempoSemestre != null" >
        tiempo_semestre = #{record.tiempoSemestre,jdbcType=SMALLINT},
      </if>
      <if test="record.tiempoNombreSemestre != null" >
        tiempo_nombre_semestre = #{record.tiempoNombreSemestre,jdbcType=CHAR},
      </if>
      <if test="record.tiempoAnio != null" >
        tiempo_anio = #{record.tiempoAnio,jdbcType=SMALLINT},
      </if>
      <if test="record.tiempoEsFeriado != null" >
        tiempo_es_feriado = #{record.tiempoEsFeriado,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dim_tiempo
    set tiempo_key = #{record.tiempoKey,jdbcType=INTEGER},
      tiempo_fecha = #{record.tiempoFecha,jdbcType=DATE},
      tiempo_dia_semana = #{record.tiempoDiaSemana,jdbcType=SMALLINT},
      tiempo_dia_mes = #{record.tiempoDiaMes,jdbcType=SMALLINT},
      tiempo_nombre_dia = #{record.tiempoNombreDia,jdbcType=VARCHAR},
      tiempo_semana_mes = #{record.tiempoSemanaMes,jdbcType=SMALLINT},
      tiempo_semana_anio = #{record.tiempoSemanaAnio,jdbcType=SMALLINT},
      tiempo_mes = #{record.tiempoMes,jdbcType=SMALLINT},
      tiempo_nombre_mes = #{record.tiempoNombreMes,jdbcType=VARCHAR},
      tiempo_trimestre = #{record.tiempoTrimestre,jdbcType=SMALLINT},
      tiempo_nombre_trimestre = #{record.tiempoNombreTrimestre,jdbcType=CHAR},
      tiempo_semestre = #{record.tiempoSemestre,jdbcType=SMALLINT},
      tiempo_nombre_semestre = #{record.tiempoNombreSemestre,jdbcType=CHAR},
      tiempo_anio = #{record.tiempoAnio,jdbcType=SMALLINT},
      tiempo_es_feriado = #{record.tiempoEsFeriado,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimTiempo" >
    update dim_tiempo
    <set >
      <if test="tiempoFecha != null" >
        tiempo_fecha = #{tiempoFecha,jdbcType=DATE},
      </if>
      <if test="tiempoDiaSemana != null" >
        tiempo_dia_semana = #{tiempoDiaSemana,jdbcType=SMALLINT},
      </if>
      <if test="tiempoDiaMes != null" >
        tiempo_dia_mes = #{tiempoDiaMes,jdbcType=SMALLINT},
      </if>
      <if test="tiempoNombreDia != null" >
        tiempo_nombre_dia = #{tiempoNombreDia,jdbcType=VARCHAR},
      </if>
      <if test="tiempoSemanaMes != null" >
        tiempo_semana_mes = #{tiempoSemanaMes,jdbcType=SMALLINT},
      </if>
      <if test="tiempoSemanaAnio != null" >
        tiempo_semana_anio = #{tiempoSemanaAnio,jdbcType=SMALLINT},
      </if>
      <if test="tiempoMes != null" >
        tiempo_mes = #{tiempoMes,jdbcType=SMALLINT},
      </if>
      <if test="tiempoNombreMes != null" >
        tiempo_nombre_mes = #{tiempoNombreMes,jdbcType=VARCHAR},
      </if>
      <if test="tiempoTrimestre != null" >
        tiempo_trimestre = #{tiempoTrimestre,jdbcType=SMALLINT},
      </if>
      <if test="tiempoNombreTrimestre != null" >
        tiempo_nombre_trimestre = #{tiempoNombreTrimestre,jdbcType=CHAR},
      </if>
      <if test="tiempoSemestre != null" >
        tiempo_semestre = #{tiempoSemestre,jdbcType=SMALLINT},
      </if>
      <if test="tiempoNombreSemestre != null" >
        tiempo_nombre_semestre = #{tiempoNombreSemestre,jdbcType=CHAR},
      </if>
      <if test="tiempoAnio != null" >
        tiempo_anio = #{tiempoAnio,jdbcType=SMALLINT},
      </if>
      <if test="tiempoEsFeriado != null" >
        tiempo_es_feriado = #{tiempoEsFeriado,jdbcType=CHAR},
      </if>
    </set>
    where tiempo_key = #{tiempoKey,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimTiempo" >
    update dim_tiempo
    set tiempo_fecha = #{tiempoFecha,jdbcType=DATE},
      tiempo_dia_semana = #{tiempoDiaSemana,jdbcType=SMALLINT},
      tiempo_dia_mes = #{tiempoDiaMes,jdbcType=SMALLINT},
      tiempo_nombre_dia = #{tiempoNombreDia,jdbcType=VARCHAR},
      tiempo_semana_mes = #{tiempoSemanaMes,jdbcType=SMALLINT},
      tiempo_semana_anio = #{tiempoSemanaAnio,jdbcType=SMALLINT},
      tiempo_mes = #{tiempoMes,jdbcType=SMALLINT},
      tiempo_nombre_mes = #{tiempoNombreMes,jdbcType=VARCHAR},
      tiempo_trimestre = #{tiempoTrimestre,jdbcType=SMALLINT},
      tiempo_nombre_trimestre = #{tiempoNombreTrimestre,jdbcType=CHAR},
      tiempo_semestre = #{tiempoSemestre,jdbcType=SMALLINT},
      tiempo_nombre_semestre = #{tiempoNombreSemestre,jdbcType=CHAR},
      tiempo_anio = #{tiempoAnio,jdbcType=SMALLINT},
      tiempo_es_feriado = #{tiempoEsFeriado,jdbcType=CHAR}
    where tiempo_key = #{tiempoKey,jdbcType=INTEGER}
  </update>
</mapper>