<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.j2techcon.bi.etl.dao.dimensional.DimUbigeoMapper" >
  <resultMap id="BaseResultMap" type="pe.com.j2techcon.bi.etl.domain.dimensional.DimUbigeo" >
    <id column="ubigeo_key" property="ubigeoKey" jdbcType="INTEGER" />
    <result column="ubigeo_cod_pais" property="ubigeoCodPais" jdbcType="INTEGER" />
    <result column="ubigeo_des_pais" property="ubigeoDesPais" jdbcType="VARCHAR" />
    <result column="ubigeo_cod_departamento" property="ubigeoCodDepartamento" jdbcType="INTEGER" />
    <result column="ubigeo_desc_departamento" property="ubigeoDescDepartamento" jdbcType="VARCHAR" />
    <result column="ubigeo_cod_provincia" property="ubigeoCodProvincia" jdbcType="INTEGER" />
    <result column="ubigeo_desc_provincia" property="ubigeoDescProvincia" jdbcType="VARCHAR" />
    <result column="ubigeo_cod_distrito" property="ubigeoCodDistrito" jdbcType="INTEGER" />
    <result column="ubigeo_desc_distrito" property="ubigeoDescDistrito" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ubigeo_key, ubigeo_cod_pais, ubigeo_des_pais, ubigeo_cod_departamento, ubigeo_desc_departamento, 
    ubigeo_cod_provincia, ubigeo_desc_provincia, ubigeo_cod_distrito, ubigeo_desc_distrito
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimUbigeoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dim_ubigeo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="paginationByClause != null" >
      ${paginationByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dim_ubigeo
    where ubigeo_key = #{ubigeoKey,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dim_ubigeo
    where ubigeo_key = #{ubigeoKey,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimUbigeoExample" >
    delete from dim_ubigeo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimUbigeo" >
    insert into dim_ubigeo (ubigeo_key, ubigeo_cod_pais, ubigeo_des_pais, 
      ubigeo_cod_departamento, ubigeo_desc_departamento, 
      ubigeo_cod_provincia, ubigeo_desc_provincia, 
      ubigeo_cod_distrito, ubigeo_desc_distrito)
    values (#{ubigeoKey,jdbcType=INTEGER}, #{ubigeoCodPais,jdbcType=INTEGER}, #{ubigeoDesPais,jdbcType=VARCHAR}, 
      #{ubigeoCodDepartamento,jdbcType=INTEGER}, #{ubigeoDescDepartamento,jdbcType=VARCHAR}, 
      #{ubigeoCodProvincia,jdbcType=INTEGER}, #{ubigeoDescProvincia,jdbcType=VARCHAR}, 
      #{ubigeoCodDistrito,jdbcType=INTEGER}, #{ubigeoDescDistrito,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimUbigeo" >
    insert into dim_ubigeo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ubigeoKey != null" >
        ubigeo_key,
      </if>
      <if test="ubigeoCodPais != null" >
        ubigeo_cod_pais,
      </if>
      <if test="ubigeoDesPais != null" >
        ubigeo_des_pais,
      </if>
      <if test="ubigeoCodDepartamento != null" >
        ubigeo_cod_departamento,
      </if>
      <if test="ubigeoDescDepartamento != null" >
        ubigeo_desc_departamento,
      </if>
      <if test="ubigeoCodProvincia != null" >
        ubigeo_cod_provincia,
      </if>
      <if test="ubigeoDescProvincia != null" >
        ubigeo_desc_provincia,
      </if>
      <if test="ubigeoCodDistrito != null" >
        ubigeo_cod_distrito,
      </if>
      <if test="ubigeoDescDistrito != null" >
        ubigeo_desc_distrito,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ubigeoKey != null" >
        #{ubigeoKey,jdbcType=INTEGER},
      </if>
      <if test="ubigeoCodPais != null" >
        #{ubigeoCodPais,jdbcType=INTEGER},
      </if>
      <if test="ubigeoDesPais != null" >
        #{ubigeoDesPais,jdbcType=VARCHAR},
      </if>
      <if test="ubigeoCodDepartamento != null" >
        #{ubigeoCodDepartamento,jdbcType=INTEGER},
      </if>
      <if test="ubigeoDescDepartamento != null" >
        #{ubigeoDescDepartamento,jdbcType=VARCHAR},
      </if>
      <if test="ubigeoCodProvincia != null" >
        #{ubigeoCodProvincia,jdbcType=INTEGER},
      </if>
      <if test="ubigeoDescProvincia != null" >
        #{ubigeoDescProvincia,jdbcType=VARCHAR},
      </if>
      <if test="ubigeoCodDistrito != null" >
        #{ubigeoCodDistrito,jdbcType=INTEGER},
      </if>
      <if test="ubigeoDescDistrito != null" >
        #{ubigeoDescDistrito,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimUbigeoExample" resultType="java.lang.Integer" >
    select count(*) from dim_ubigeo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dim_ubigeo
    <set >
      <if test="record.ubigeoKey != null" >
        ubigeo_key = #{record.ubigeoKey,jdbcType=INTEGER},
      </if>
      <if test="record.ubigeoCodPais != null" >
        ubigeo_cod_pais = #{record.ubigeoCodPais,jdbcType=INTEGER},
      </if>
      <if test="record.ubigeoDesPais != null" >
        ubigeo_des_pais = #{record.ubigeoDesPais,jdbcType=VARCHAR},
      </if>
      <if test="record.ubigeoCodDepartamento != null" >
        ubigeo_cod_departamento = #{record.ubigeoCodDepartamento,jdbcType=INTEGER},
      </if>
      <if test="record.ubigeoDescDepartamento != null" >
        ubigeo_desc_departamento = #{record.ubigeoDescDepartamento,jdbcType=VARCHAR},
      </if>
      <if test="record.ubigeoCodProvincia != null" >
        ubigeo_cod_provincia = #{record.ubigeoCodProvincia,jdbcType=INTEGER},
      </if>
      <if test="record.ubigeoDescProvincia != null" >
        ubigeo_desc_provincia = #{record.ubigeoDescProvincia,jdbcType=VARCHAR},
      </if>
      <if test="record.ubigeoCodDistrito != null" >
        ubigeo_cod_distrito = #{record.ubigeoCodDistrito,jdbcType=INTEGER},
      </if>
      <if test="record.ubigeoDescDistrito != null" >
        ubigeo_desc_distrito = #{record.ubigeoDescDistrito,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dim_ubigeo
    set ubigeo_key = #{record.ubigeoKey,jdbcType=INTEGER},
      ubigeo_cod_pais = #{record.ubigeoCodPais,jdbcType=INTEGER},
      ubigeo_des_pais = #{record.ubigeoDesPais,jdbcType=VARCHAR},
      ubigeo_cod_departamento = #{record.ubigeoCodDepartamento,jdbcType=INTEGER},
      ubigeo_desc_departamento = #{record.ubigeoDescDepartamento,jdbcType=VARCHAR},
      ubigeo_cod_provincia = #{record.ubigeoCodProvincia,jdbcType=INTEGER},
      ubigeo_desc_provincia = #{record.ubigeoDescProvincia,jdbcType=VARCHAR},
      ubigeo_cod_distrito = #{record.ubigeoCodDistrito,jdbcType=INTEGER},
      ubigeo_desc_distrito = #{record.ubigeoDescDistrito,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimUbigeo" >
    update dim_ubigeo
    <set >
      <if test="ubigeoCodPais != null" >
        ubigeo_cod_pais = #{ubigeoCodPais,jdbcType=INTEGER},
      </if>
      <if test="ubigeoDesPais != null" >
        ubigeo_des_pais = #{ubigeoDesPais,jdbcType=VARCHAR},
      </if>
      <if test="ubigeoCodDepartamento != null" >
        ubigeo_cod_departamento = #{ubigeoCodDepartamento,jdbcType=INTEGER},
      </if>
      <if test="ubigeoDescDepartamento != null" >
        ubigeo_desc_departamento = #{ubigeoDescDepartamento,jdbcType=VARCHAR},
      </if>
      <if test="ubigeoCodProvincia != null" >
        ubigeo_cod_provincia = #{ubigeoCodProvincia,jdbcType=INTEGER},
      </if>
      <if test="ubigeoDescProvincia != null" >
        ubigeo_desc_provincia = #{ubigeoDescProvincia,jdbcType=VARCHAR},
      </if>
      <if test="ubigeoCodDistrito != null" >
        ubigeo_cod_distrito = #{ubigeoCodDistrito,jdbcType=INTEGER},
      </if>
      <if test="ubigeoDescDistrito != null" >
        ubigeo_desc_distrito = #{ubigeoDescDistrito,jdbcType=VARCHAR},
      </if>
    </set>
    where ubigeo_key = #{ubigeoKey,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.com.j2techcon.bi.etl.domain.dimensional.DimUbigeo" >
    update dim_ubigeo
    set ubigeo_cod_pais = #{ubigeoCodPais,jdbcType=INTEGER},
      ubigeo_des_pais = #{ubigeoDesPais,jdbcType=VARCHAR},
      ubigeo_cod_departamento = #{ubigeoCodDepartamento,jdbcType=INTEGER},
      ubigeo_desc_departamento = #{ubigeoDescDepartamento,jdbcType=VARCHAR},
      ubigeo_cod_provincia = #{ubigeoCodProvincia,jdbcType=INTEGER},
      ubigeo_desc_provincia = #{ubigeoDescProvincia,jdbcType=VARCHAR},
      ubigeo_cod_distrito = #{ubigeoCodDistrito,jdbcType=INTEGER},
      ubigeo_desc_distrito = #{ubigeoDescDistrito,jdbcType=VARCHAR}
    where ubigeo_key = #{ubigeoKey,jdbcType=INTEGER}
  </update>
</mapper>